<mat-dialog-content>
    <app-character-animation [heroClass]="HUNTRESS" suffix="tormented"></app-character-animation>
   <div class="content">
       <p>This application use <a target="_blank" href="https://paste.ee">paste.ee</a> to share data between users but your browser is blocking theses requests.</p>
       <p>It's ok, the application will still work normally but you won't be able to export your build as a link or open other exported links.</p>
   </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button type="button" color="primary" [mat-dialog-close]="true">I understand</button>
</mat-dialog-actions>