.slormancer-tooltip {
    @include flex(column, stretch);
    background-color: primary-color(500);
    position: relative;
    border: 3px solid black;


    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid primary-color(400);
    }

    .inner-box {
        @include flex-grow();
        border: 3px solid primary-color(400);
        position: relative;

        padding: $space-unit * 2;

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid black;
        }
    }
}