form .stat-line {
    @include flex-row-to-column('small-desktop', stretch, center);
    @include flex-gap($space-unit * 4);

    @include respond-to('small-desktop') {
        @include flex-gap(0);
    }

    .select, mat-form-field {
        @include flex-grow(3, true);

        mat-form-field {
            width: 100%;
        }
    }

    .slider {
        @include flex(column, stretch);
        @include flex-grow(2, true);
    }

    .additional {
        @include flex(row, center, space-between);
        @include flex-gap($space-unit * 2);
        min-width: 170px;

        .value {
            @include flex-grow();
        }

        .delete {
            cursor : pointer;
        }
    }
}


.stat-info {
    @include flex(row, center, space-between);
    min-height: $space-unit * 10;
}