@import "../../../../../assets/scss/abstracts/flex.scss";
@import "../../../../../assets/scss/abstracts/variables.scss";

.skill-bar {
    @include flex(row);
    @include flex-gap($space-unit);
    border: 3px solid rgb(60, 60, 60);
    padding: $space-unit $space-unit;

    .skill-slot {
        position: relative;
        .skill-slot-border {
            border: 3px solid rgb(60, 60, 60);
        }

        img.locked {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            pointer-events: none;
        }
    }
}