<div class="ancestral-legacy {{ancestralLegacy.damageTypes.length > 0 ? ancestralLegacy.damageTypes[0] : ''}}" *ngIf="ancestralLegacy !== null">
    <div class="head">{{ancestralLegacy.name}}</div>
    <div class="content">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <div class="icon-border"></div>
                    <img src="assets/img/icon/{{ancestralLegacy.icon}}.png" />
                </div>
            </div>
            <div class="data">
                <div class="name">{{getElementLabel(ancestralLegacy.element)}} - {{getTypeLabels(ancestralLegacy.types)}}</div>
                <div class="genre" *ngIf="ancestralLegacy.genres.length > 0">{{getGenresLabel(ancestralLegacy.genres)}}</div>
                <div class="cooldown" *ngIf="ancestralLegacy.cooldown !== null && ancestralLegacy.cooldown > 0">Cooldown : <span class="value">{{ancestralLegacy.cooldown}}</span> seconds</div>
                <div class="rank">{{translate(RANK_LABEL)}}: <span class="current">{{ancestralLegacy.totalRank}}</span>/{{ancestralLegacy.maxRank}}</div>
                <div class="cost" *ngIf="!ancestralLegacy.hasNoCost">Cost :
                    <span [class.life]="ancestralLegacy.hasLifeCost" [class.mana]="ancestralLegacy.hasManaCost">{{ancestralLegacy.cost}}</span>
                    <span> {{getCostLabel(ancestralLegacy.costType)}}</span>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="ancestralLegacy.description"></div>
        <ng-container *ngIf="ancestralLegacy.rank < ancestralLegacy.maxRank && (ancestralLegacy.nextRankDescription.length > 0 || ancestralLegacy.maxRankDescription.length > 0)">
            <div class="separator"></div>
            <div class="next-rank">
                <div class="title">{{translate(NEXT_RANK_LABEL)}}:</div>
                <div *ngFor="let desc of ancestralLegacy.nextRankDescription" class="rank-value">
                    <div class="bullet"><div></div></div> <div [innerHTML]="desc"></div>
                </div>
            </div>
            <div class="next-rank">
                <div class="title">{{translate(MAX_RANK_LABEL)}}:</div>
                <div *ngFor="let desc of ancestralLegacy.maxRankDescription" class="rank-value">
                    <div class="bullet"><div></div></div> <div [innerHTML]="desc"></div>
                </div>
            </div>
        </ng-container>
        <div class="mechanics" *ngIf="ancestralLegacy.relatedMechanics.length > 0 || ancestralLegacy.relatedBuffs.length > 0">
            <div class="mechanic" *ngFor="let mechanic of ancestralLegacy.relatedMechanics">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{mechanic.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{mechanic.name}}</div>
            </div>
            <div class="mechanic" *ngFor="let buff of ancestralLegacy.relatedBuffs">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{buff.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{buff.name}}</div>
            </div>
        </div>
    </div>
</div>