<div class="ancestral-legacy {{ancestralLegacy.damageTypes.length > 0 ? ancestralLegacy.damageTypes[0] : ''}}" *ngIf="ancestralLegacy !== null">
    <div class="head">{{ancestralLegacy.name}}</div>
    <div class="content">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <div class="icon-border"></div>
                    <img src="assets/img/icon/{{ancestralLegacy.icon}}.png" />
                </div>
            </div>
            <div class="data">
                <div class="type" [innerHTML]="ancestralLegacy.typeLabel"></div>
                <div class="genre" *ngIf="ancestralLegacy.genresLabel !== null" [innerHTML]="ancestralLegacy.genresLabel"></div>
                <div class="cooldown" *ngIf="ancestralLegacy.cooldownLabel !== null" [innerHTML]="ancestralLegacy.genresLabel"></div>
                <div class="rank" [innerHTML]="ancestralLegacy.rankLabel"></div>
                <div class="cost" *ngIf="ancestralLegacy.costLabel !== null" [innerHTML]="ancestralLegacy.costLabel"></div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="ancestralLegacy.description"></div>
        <ng-container *ngIf="ancestralLegacy.nextRankDescription.length > 0 || ancestralLegacy.maxRankDescription.length > 0">
            <div class="separator"></div>
            <div class="next-rank">
                <div class="title">{{NEXT_RANK_LABEL}}:</div>
                <div *ngFor="let desc of ancestralLegacy.nextRankDescription" class="rank-value">
                    <div class="bullet"><div></div></div> <div [innerHTML]="desc"></div>
                </div>
            </div>
            <div class="next-rank">
                <div class="title">{{MAX_RANK_LABEL}}:</div>
                <div *ngFor="let desc of ancestralLegacy.maxRankDescription" class="rank-value">
                    <div class="bullet"><div></div></div> <div [innerHTML]="desc"></div>
                </div>
            </div>
        </ng-container>
        <div class="mechanics" *ngIf="ancestralLegacy.relatedMechanics.length > 0 || ancestralLegacy.relatedBuffs.length > 0">
            <div class="mechanic" *ngFor="let mechanic of ancestralLegacy.relatedMechanics">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{mechanic.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{mechanic.name}}</div>
            </div>
            <div class="mechanic" *ngFor="let buff of ancestralLegacy.relatedBuffs">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{buff.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{buff.name}}</div>
            </div>
        </div>
    </div>
</div>