<main>
    <mat-card class="equipment">
        <mat-card-content>
            <h3>{{character.fullName}}</h3>
            <app-character-equipment [character]="character" [readonly]="true"></app-character-equipment>
            <div class="weapon">
                <app-reaper-slot
                    [readonly]="true"
                    [character]="character">
                </app-reaper-slot>
                <app-runes-slot [character]="character" [readonly]="true"></app-runes-slot>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <mat-checkbox color="primary" [formControl]="combatBuffControl">Activate combat buffs</mat-checkbox>
            <button color="primary" (click)="import()" mat-flat-button>Import</button>
            <button color="primary" *ngIf="showSummary" mat-flat-button (click)="showSummary = !showSummary">Show Stats</button>
            <button color="primary" *ngIf="!showSummary" mat-flat-button (click)="showSummary = !showSummary">Show Summary</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="summary" *ngIf="showSummary">
        <mat-card-content>
            <div class="stats-summary">
                <div class="damages">
                    <div class="cell"><div class="value" [matTooltip]="PHYSICAL_DAMAGE_LABEL">{{getPhysicalDamages()}}</div><img src="assets/img/icon/stat/physical.png"/></div>
                    <div class="cell"><div class="value" [matTooltip]="ELEMENTAL_DAMAGE_LABEL">{{getElementalDamages()}}</div><img src="assets/img/icon/stat/magical.png"/></div>
                </div>
                <div class="ressources">
                    <div class="cell"><div class="value" [matTooltip]="MAX_LIFE_LABEL">{{getMaximumLife()}}</div><img src="assets/img/icon/stat/life.png"/></div>
                    <div class="cell"><div class="value" [matTooltip]="MAX_MANA_LABEL">{{getMaximumMana()}}</div><img src="assets/img/icon/stat/mana.png"/></div>
                </div>
                <div class="defenses">
                    <div class="cell"><div class="value" [matTooltip]="MAX_ARMOR_LABEL">{{getArmor()}}</div><img src="assets/img/icon/stat/armor.png"/></div>
                    <div class="cell"><div class="value" [matTooltip]="MAX_ELEMENTAL_RESISTANCE_LABEL">{{getElementalResistance()}}</div><img src="assets/img/icon/stat/elemental_resistance.png"/></div>
                    <div class="cell"><div class="value" [matTooltip]="MAX_DODGE_LABEL">{{getDodge()}}</div><img src="assets/img/icon/stat/dodge.png"/></div>
                </div>
            </div>
            <div class="skill-info">
                <h4>Support Skill</h4>
                <div class="skill-line">
                    <div class="skill">
                        <app-skill-slot [readonly]="true" [skill]="character.supportSkill" [support]="true"></app-skill-slot>
                    </div>
                    <div class="upgrades">
                        <div class="upgrade" *ngFor="let upgrade of getSkillUpgrades(character.supportSkill)">
                            <app-upgrade-slot
                                [upgrade]="upgrade"
                                [readonly]="true"
                                [overlay]="true"
                                [equipped]="false"
                                [selected]="false">
                            </app-upgrade-slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-info" *ngIf="hasExtraPassives()">
                <h4>Extra passives</h4>
                <div class="skill-line">
                    <div class="upgrades">
                        <div class="upgrade" *ngFor="let upgrade of getExtraPassives()">
                            <app-upgrade-slot
                                [upgrade]="upgrade"
                                [readonly]="true"
                                [overlay]="true"
                                [equipped]="false"
                                [selected]="false">
                            </app-upgrade-slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-info">
                <h4>Primary Skill</h4>
                <div class="skill-line">
                    <div class="skill">
                        <app-skill-slot [readonly]="true" [skill]="character.primarySkill"></app-skill-slot>
                    </div>
                    <div class="upgrades">
                        <div class="upgrade" *ngFor="let upgrade of getSkillUpgrades(character.primarySkill)">
                            <app-upgrade-slot 
                                [upgrade]="upgrade"
                                [readonly]="true"
                                [overlay]="true"
                                [equipped]="false"
                                [selected]="false">
                            </app-upgrade-slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-info">
                <h4>Secondary Skill</h4>
                <div class="skill-line">
                    <div class="skill">
                        <app-skill-slot [readonly]="true" [skill]="character.secondarySkill"></app-skill-slot>
                    </div>
                    <div class="upgrades">
                        <div class="upgrade" *ngFor="let upgrade of getSkillUpgrades(character.secondarySkill)">
                            <app-upgrade-slot 
                                [upgrade]="upgrade"
                                [readonly]="true"
                                [overlay]="true"
                                [equipped]="false"
                                [selected]="false">
                            </app-upgrade-slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activables-ancestral-legacies">
                <div class="activables">
                    <h4>Activables</h4>
                    <div class="slots">
                        <div class="slot">
                            <app-activable-slot [activable]="character.activable1" [readonly]="true"></app-activable-slot>
                        </div>
                        <div class="slot">
                            <app-activable-slot [activable]="character.activable2" [readonly]="true"></app-activable-slot>
                        </div>
                        <div class="slot">
                            <app-activable-slot [activable]="character.activable3" [readonly]="true"></app-activable-slot>
                        </div>
                        <div class="slot">
                            <app-activable-slot [activable]="character.activable4" [readonly]="true"></app-activable-slot>
                        </div>
                    </div>
                </div>
                <div class="ancestral-legacies">
                    <h4>Ancestral Legacies</h4>
                    <div class="slots">
                        <div class="slot" *ngFor="let ancestralLegacy of getAncestralLegacies()">
                            <app-ancestral-legacy-slot 
                                [ancestralLegacy]="ancestralLegacy"
                                [readonly]="true"
                                [overlay]="true">
                            </app-ancestral-legacy-slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="attributes">
                <ng-container *ngFor="let attribute of ALL_ATTRIBUTES">
                    <app-attribute-line *ngIf="showAttribute(attribute)"
                        [short]="true"
                        [readonly]="true"
                        [iconShift]="true"
                        [attribute]="character.attributes.allocated[attribute]"
                        [remainingPoints]="character.attributes.remainingPoints">
                    </app-attribute-line>
                </ng-container>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="stats" *ngIf="!showSummary">
        <mat-card-content>
            <app-main-stats [stats]="character.stats"></app-main-stats>
        </mat-card-content>
    </mat-card>
</main>
