@import "src/assets/scss/abstracts/flex";
@import "src/assets/scss/abstracts/variables";

.selected-affix {
    @include flex(row, stretch);
    gap: 20px;
    line-height: 40px;

    .stat {
        cursor: pointer;
        padding-left: $space-unit;
        width: 400px;
    
        @include respond-to('tablet') {
            padding-left: 0;
        }
    
        &:hover {
            opacity: 0.6;
        }
    }
}

mat-form-field, app-search-select {
    width: 200px;

    @include respond-to('tablet') {
        width: 100%;
    }
}