@import "~src/assets/scss/abstracts/flex";
@import "~src/assets/scss/abstracts/slormancer_tooltip";

$item-gray             : rgb(104, 104, 104);
$rune-border           : rgb(60, 57, 49);
$value-color           : rgb(206, 70, 7);
$item-range-color      : $item-gray;
$disabled-color-text   : rgb(206, 70, 7);
$constraint-color-text : rgb(206, 70, 7);



$item-bg               : rgb(21,20,18);
$legendary-border-gray : rgb(46, 44, 37);
$activable-gold-border : rgb(190, 135, 31);
$mana-color            : rgb(51, 151, 221);
$genre-color           : rgb(49, 85, 188);
$life-color            : rgb(37, 117, 57);
$buff-border-color     : rgb(59, 56, 49); 
$reaper-buff-color     : rgb(20, 142, 137); 
$skill-buff-color      : rgb(206, 70, 7); 
$toughness-color       : rgb(47, 89, 150); 
$savagery-color        : rgb(168, 48, 7); 
$fury-color            : rgb(121, 181, 73); 
$determination-color   : rgb(208, 181, 69); 
$zeal-color            : rgb(75, 193, 178); 
$willpower-color       : rgb(117, 48, 152); 
$dexterity-color       : rgb(205, 112, 40); 
$bravery-color         : rgb(191, 60, 89); 
$pure-color            : rgb(70, 231, 176);

.rune {
    @include slormancer-tooltip-color($rune-border);
    @include flex(column);
    color: white;

    ::ng-deep {
        .description {
            .value {
                color: $value-color;
            }
    
            .range, .details, .formula, .pure-info {
                &, & .value {
                    color: $item-range-color;
                }
            }
    
            .affixes .range, .affixes .value, .pure-info {
                word-break: keep-all;
                white-space: nowrap;
            }
        }

        .power.value {
            color: $constraint-color-text;
        }

        .flavor .disabled {
            color: $disabled-color-text;
        }
    }

    .head {
        margin-bottom: 2px;
        text-align: center;
        padding: 10px 30px;
        text-transform: uppercase;
        font-size: 17px;
    }

    .content {
        @include flex(column);
        @include flex-gap($space-unit * 4);
        padding: $space-unit * 4;

        .info {
            @include flex(row, flex-start, space-between);
    
            .main {
                @include flex(column, center);
                .type {
                    text-transform: uppercase;
                }
    
                .constraint {
                    margin-top: $space-unit;
                }
            }
        }

        .description, .flavor {
            text-align: center;
        }

        .flavor {
            color: $item-gray;
        }
    }
}