<div class="skill slormancer-tooltip {{upgrade.damageTypes.length > 0 ? upgrade.damageTypes[0] : ''}}" *ngIf="upgrade !== null">
    <div class="head inner-box">{{getTypeLabel(upgrade.type)}}: {{upgrade.name}}</div>
    <div class="content inner-box">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <div class="icon-border"></div>
                    <img [src]="upgrade.icon" />
                </div>
            </div>
            <div class="data">
                <div class="mastery">{{MASTERY_LABEL}} {{upgrade.masteryRequired}}</div>
                <div class="type">{{getTypeLabel(upgrade.type)}}</div>
                <div class="genre" *ngIf="upgrade.genresLabel !== null" [innerHTML]="upgrade.genresLabel"></div>
                <div class="rank">{{RANK_LABEL}}: <span class="current">{{upgrade.rank}}</span>/{{upgrade.maxRank}}</div>
                <div class="cost" *ngIf="upgrade.costLabel !== null" [innerHTML]="upgrade.costLabel"></div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="upgrade.description"></div>
        <app-mechanics-view
            [classMechanics]="upgrade.relatedClassMechanics"
            [mechanics]="upgrade.relatedMechanics"
            [buffs]="upgrade.relatedBuffs">
        </app-mechanics-view>
    </div>
</div>