@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/slormancer_tooltip";

$upgrade-bg          : rgb(9,9,9);
$skill-border-color: rgb(60, 57, 49);
$skill-outer-border-color: black;
$skill-text-color       : white;
$skill-icon-border : rgb(190, 135, 31);
$skill-level-border : rgb(190, 135, 31);
$skill-level-max-color : rgb(242, 167, 24);
$skill-level-bonus-color : rgb(191, 65, 7);
$skill-level-bg-color : rgb(9, 9, 9);
$type-color : rgb(49, 85, 188);

$physical-color-text  : rgb(206, 70, 7);
$magical-color-text   : rgb(187, 31, 226);

$normal-color-text     : rgb(137, 137, 137);
$normal-color-bg       : rgb(89, 81, 60);
$magic-color-text      : rgb(46, 135, 38);
$magic-color-bg        : rgb(97, 70, 45);
$rare-color-text       : rgb(23, 106, 177);
$rare-color-bg         : rgb(119, 145, 161);
$epic-color-text       : rgb(198, 141, 32);
$epic-color-bg         : rgb(239, 198, 92);
$legendary-color-text  : rgb(206, 70, 7);
$legendary-color-bg    : rgb(245, 178, 80);
$item-bg               : rgb(21,20,18);
$item-gray             : rgb(104, 104, 104);
$item-value-color      : white;
$item-range-color      : $item-gray;
$legendary-border-gray : rgb(46, 44, 37);
$mana-color            : rgb(51, 151, 221);
$genre-color           : rgb(49, 85, 188);
$life-color            : rgb(37, 117, 57);
$buff-border-color     : rgb(59, 56, 49); 
$reaper-buff-color     : rgb(20, 142, 137); 
$skill-buff-color      : rgb(206, 70, 7); 
$toughness-color       : rgb(47, 89, 150); 
$savagery-color        : rgb(168, 48, 7); 
$fury-color            : rgb(121, 181, 73); 
$determination-color   : rgb(208, 181, 69); 
$zeal-color            : rgb(75, 193, 178); 
$willpower-color       : rgb(117, 48, 152); 
$dexterity-color       : rgb(205, 112, 40); 
$bravery-color         : rgb(191, 60, 89); 

.skill {
    @include slormancer-tooltip-color($skill-outer-border-color);
    @include flex(column);
    color: $skill-text-color;
    max-width: 400px;
        
    &::ng-deep {
        .value, .rank .current, .head {
            color: $physical-color-text;
        }
        &.mag .value {
            color: $magical-color-text;
        }

        .range, .details, .formula {
            &, & .value {
                color: $item-range-color;
            }
        }

        .affixes .range, .affixes .value {
            word-break: keep-all;
            white-space: nowrap;
        }

        .life {
            color: $life-color;
        }

        .value.mana {
            color: $mana-color;
        }
    }
    &.mag::ng-deep {
        .value, .rank .current, .head {
            color: $magical-color-text;

            &.mana {
                color: $mana-color;
            }
        } 
    } 
    
    .head, .content {

        &.head {  
            text-align: center;
            padding: 10px 50px;
            text-transform: uppercase;
            font-size: 17px;
        }

        &.content {
            @include flex-grow();
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;

            .info {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                gap: 10px;

                .visual {
                    display: flex;
                    align-items: center;

                    .icon {
                        border: 3px solid $skill-icon-border;
                        min-width: 60px;
                        min-height: 60px;
                        width: 60px;
                        height: 60px;
    
                        img {
                            border: 3px solid black;
                            image-rendering: pixelated;
                            width: 54px;
                            height: 54px;
                        }
                    }
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    text-transform: uppercase;
                    height: 100%;
                    flex-grow: 1;
                    padding: 5px 0;
                    gap: 5px;

                    .type, .genre {
                        color: $type-color
                    }
                }
            }

            .separator {
                height: 5px;
                background-color: $skill-border-color;
                margin: 0 45px;
            }

            .next-rank {
                // flex-grow: 1;

                .title {
                    color: $type-color
                }    

                .rank-value {
                    display: flex;
                    flex-direction: row;

                    .bullet {
                        min-width: 8px;
                        padding-right: 8px;
                        div {
                            display: inline-block;
                            background-color: $legendary-color-text;
                            height: 6px;
                            width: 6px;
                            border: 1px solid black;
                            border-radius: 6px;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}