
<div class="import-game">
    <app-file-upload-button label="Upload a Slormancer save file" help="Save files are located in :
        C:\Users\[User]\AppData\Local\The_Slormancer" (upload)="parseGameSave($event)"></app-file-upload-button>
    <div class="save-summary" [class.disabled]="characters === null">
        <p [class.disabled]="characters === null">Choose which character you want to upload</p>
        <div class="classes">
            <div class="head" *ngFor="let heroClass of HERO_CLASSES" [class.selected]="selectedClass === heroClass" (click)="selectedClass = heroClass">
                <img src="assets/img/character/icon/{{heroClass}}/head.png" />
                <div class="level">{{getLevel(heroClass)}}</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button mat-flat-button class="create" color="primary" [disabled]="characters === null || selectedClass === null" (click)="createBuild()">Create build</button>
        <button mat-icon-button [disabled]="characters === null || selectedClass === null" (click)="copyExternalLink()" matTooltip="General an external link of this build"><mat-icon>share</mat-icon></button>
    </div>
</div>
