@import "theme/material";
@import "theme/font";

@import "abstracts/variables";
@import "abstracts/browsers";
@import "abstracts/breakpoints";
@import "abstracts/flex";
@import "abstracts/spacing";
@import "abstracts/color";

@import "components/nav";
@import "components/reaper";
@import "components/card";
@import "components/dialog";
@import "components/form_field";
@import "components/select";
@import "components/slider";
@import "components/menu";
@import "components/snackbar";
@import "components/button";
@import "components/checkbox";
@import "components/sidenav";
@import "components/tooltip";
@import "components/hr";
@import "components/animations";
@import "components/a";
@import "components/title";
@import "components/slormancer_tooltip";
@import "components/overlay";

@import "components/form/stat_line";

@import "slormancer/icon";

html, body {
    margin: 0;
    height: 100%;

    background-color: primary-color(700, true);
    color: primary-color(700, true);
}

img {
    image-rendering: pixelated;
}

* {
    font-family: $font-family;
    box-sizing: border-box;
}

app-root {
    display: block;
    height: 100%;
}

.transparent {
    opacity: 0.2;
    font-family: monospace;
}