@import "theme/material";
@import "theme/font";

@import "abstracts/variables";
@import "abstracts/browsers";
@import "abstracts/breakpoints";
@import "abstracts/flex";
@import "abstracts/spacing";
@import "abstracts/color";

@import "components/nav";
@import "components/reaper";
@import "components/card";
@import "components/dialog";
@import "components/form_field";
@import "components/select";
@import "components/slider";
@import "components/menu";
@import "components/snackbar";
@import "components/button";
@import "components/checkbox";
@import "components/sidenav";
@import "components/tooltip";
@import "components/hr";
@import "components/animations";

@import "components/form/stat_line";
@import "components/form/slormancer_tooltip";

@import "slormancer/icon";

$theme-primary-pallet: map-get($theme, primary);
$primary-color: mat-color($theme-primary-pallet);

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Berlin Sans FB Regular';
    color: $primary-color;
    box-sizing: border-box;

    background-color: primary-color(700, true);
    color: primary-color(700, true);
}

app-root {
    display: block;
    height: 100%;
}