
<div class="background" (click)="!readonly && edit()" [class.readonly]="readonly" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <div class="inner-background">
        <div class="ultimatum" *ngIf="ultimatum !== null">
            <img src="assets/img/icon/{{ultimatum.icon}}.png"/>
            <ng-template cdkConnectedOverlay *ngIf="overlay && showOverlay"
                [cdkConnectedOverlayOpen]="true"
                [cdkConnectedOverlayOrigin]="trigger">
                <app-ultimatum-view [ultimatum]="ultimatum"></app-ultimatum-view>
            </ng-template>
        </div>
    </div>
</div>
