
<div class="background" (click)="!showModalTooltip($event, ultimatum) && !readonly && edit()" [class.readonly]="readonly" cdkOverlayOrigin #trigger="cdkOverlayOrigin" [class.hidden-search]="hiddenBySearch">
    <div class="inner-background">
        <div class="ultimatum" *ngIf="ultimatum !== null">
            <img class="icon" [class.disabled]="ultimatum.locked" src="assets/img/icon/{{ultimatum.icon}}.png"/>
            <img class="locked" *ngIf="ultimatum.locked" src="assets/img/icon/locked.png"/>
            <ng-template cdkConnectedOverlay *ngIf="overlay && showOverlay"
                [cdkConnectedOverlayOpen]="true"
                [cdkConnectedOverlayOrigin]="trigger">
                <app-ultimatum-view [ultimatum]="ultimatum"></app-ultimatum-view>
            </ng-template>
        </div>
    </div>
</div>
