@import "../theme/theme";
@import '~@angular/material/theming';

$theme-accent-pallet: map-get($theme, accent);
$theme-warn-pallet: map-get($theme, warn);
$theme-primary-pallet: map-get($theme, primary);
$accent-color: mat-color($theme-accent-pallet);
$warn-color: mat-color($theme-warn-pallet);

@function primary-color($hue: 900, $contrast: false) {
    $theme-primary-pallet: map-get($theme, primary);

    @if $contrast {
        @return mat-contrast($theme-primary-pallet, $hue);
    } @else {
        @return mat-color($theme-primary-pallet, $hue);
    }
}

@function accent-color($hue: 900, $contrast: false) {
    $theme-accent-pallet: map-get($theme, accent);

    @if $contrast {
        @return mat-contrast($theme-accent-pallet, $hue);
    } @else {
        @return mat-color($theme-accent-pallet, $hue);
    }
}

@function warn-color($hue: 900, $contrast: false) {
    $theme-warn-pallet: map-get($theme, warn);

    @if $contrast {
        @return mat-contrast($theme-warn-pallet, $hue);
    } @else {
        @return mat-color($theme-warn-pallet, $hue);
    }
}