$background-color: rgb(9,9,9);
$text-color: white;


$content-width          :   1140px;


/* content spacing */
$space-unit             :   4px;
$space-content          :   5 * $space-unit;

$breakpoints: (
    'large-desktop'     : (max-width: 1310px),
    'desktop'           : (max-width: 1024px),
    'small-desktop'     : (max-width: 992px),
    'tablet'            : (max-width: 768px),
    'mobile'            : (max-width: 374px),
);

$font-family: 'Berlin Sans FB Regular', Roboto;