<div class="character-animation" [class.flip]="flipAnimation" #animation>
    <img class="idle-1" src="assets/img/character/idle/{{heroClass}}/0{{suffix ? '_' + suffix : suffix}}.png">
    <img class="idle-2" src="assets/img/character/idle/{{heroClass}}/1{{suffix ? '_' + suffix : suffix}}.png">
    <img class="idle-3" src="assets/img/character/idle/{{heroClass}}/2{{suffix ? '_' + suffix : suffix}}.png">
    <img class="idle-4" src="assets/img/character/idle/{{heroClass}}/3{{suffix ? '_' + suffix : suffix}}.png">
</div>