.character-animation {
    position: relative;
    height: 144px;
    width: 88px;

    &.flip img {
        transform: scaleX(-1);
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;


        &.idle-1 {
            animation-name: idle-1;
        }
        &.idle-2 {
            animation-name: idle-2;
        }
        &.idle-3 {
            animation-name: idle-3;
        }
        &.idle-4 {
            animation-name: idle-4;
        }
    }
}

@keyframes idle-1 { // 0% -> 25% 
    0%   { opacity:1; }
    25%  { opacity:1; }
    26%  { opacity:0; }
    99%  { opacity:0; }
    100% { opacity:1; }
}

@keyframes idle-2 { // 25% -> 50% 
    0%   { opacity:0; }
    24%  { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    51%  { opacity:0; }
    100% { opacity:0; }
}

@keyframes idle-3 { // 50% -> 75% 
    0%   { opacity:0; }
    49%  { opacity:0; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    76%  { opacity:0; }
    100% { opacity:0; }
}

@keyframes idle-4 { // 75% -> 100% 
    0%   { opacity:1; }
    1%   { opacity:0; }
    74%  { opacity:0; }
    75%  { opacity:1; }
    100% { opacity:1; }
}