
:host {
    border :1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
}
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.edition {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #ddd;

    .min, .max {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .value {
            width: 40px;
            text-align: center;
        }
    }

    .min {
        justify-content: flex-start;
    }

    .max {
        justify-content: flex-end;
    }
}

.conversions {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .conversion {
        background-color: #eee;

        .title, .content {
            text-align: center;
            margin: 10px;
        }

        .title {
            font-weight: bold;
        }

        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

.full {
    margin: 10px;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .brut {
        background-color: #ddd;
        padding: 10px;
        overflow: auto;
    }

    .json {
        max-height: 600px;
    }
}