.skill-icon {
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    border: 4px solid primary-color(600);

    &.support {
        width: 84px;
        min-width: 84px;
    }
}