<div class="skill" *ngIf="upgrade !== null">
    <div class="head">{{getTypeLabel(upgrade.type)}}: {{upgrade.name}}</div>
    <div class="content">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <div class="icon-border"></div>
                    <img src="assets/img/icon/{{upgrade.icon}}.png" />
                </div>
            </div>
            <div class="data">
                <div class="mastery">{{translate(MASTERY_LABEL)}} {{upgrade.masteryRequired}}</div>
                <div class="type">{{getTypeLabel(upgrade.type)}}</div>
                <div class="rank">{{translate(RANK_LABEL)}}: <span class="current">{{upgrade.rank}}</span>/{{upgrade.maxRank}}</div>
                <div class="cost" *ngIf="!upgrade.hasNoCost">Total Cost :
                    <span [class.life]="upgrade.hasLifeCost" [class.mana]="upgrade.hasManaCost">{{upgrade.cost}}</span>
                    <span> {{getCostLabel(upgrade.costType)}}</span>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="upgrade.description"></div>
        <ng-container *ngIf="upgrade.rank < upgrade.maxRank && upgrade.nextRankDescription.length > 0 || upgrade.maxRankDescription.length > 0">
            <div class="separator"></div>
            <div class="next-rank">
                <div class="title">{{translate(NEXT_RANK_LABEL)}}:</div>
                <div *ngFor="let desc of upgrade.nextRankDescription" class="rank-value">
                    <div class="bullet"><div></div></div> <div [innerHTML]="desc"></div>
                </div>
            </div>
            <div class="next-rank">
                <div class="title">{{translate(MAX_RANK_LABEL)}}:</div>
                <div *ngFor="let desc of upgrade.maxRankDescription" class="rank-value">
                    <div class="bullet"><div></div></div> <div [innerHTML]="desc"></div>
                </div>
            </div>
        </ng-container>
        <div class="mechanics" *ngIf="upgrade.relatedClassMechanics.length > 0 || upgrade.relatedAttributeMechanics.length > 0 || upgrade.relatedBuffs.length > 0">
            <div class="mechanic" *ngFor="let mechanic of upgrade.relatedClassMechanics">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{mechanic.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{mechanic.name}}</div>
            </div>
            <div class="mechanic" *ngFor="let mechanic of upgrade.relatedAttributeMechanics">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{mechanic.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{mechanic.name}}</div>
            </div>
            <div class="mechanic" *ngFor="let buff of upgrade.relatedBuffs">
                <div class="mechanic-icon">
                    <img src="assets/img/icon/{{buff.icon}}.png"/>
                </div>
                <div class="mechanic-name">{{buff.name}}</div>
            </div>
        </div>
    </div>
</div>