mat-slider {

    &.mat-slider-horizontal {
        min-width: 64px;
    }

    &[color="primary"] {
        .mat-slider-ticks, .mat-slider-thumb, .mat-slider-track-fill, .mat-slider-focus-ring {
            background-color: primary-color(700, 1);
        }

        &.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
            border-color: primary-color(700, 1);
            background-color: primary-color(200);
        }

        .mat-slider-track-background {
            background-color: primary-color(100);

        }

        &:hover .mat-slider-track-background {
            background-color: primary-color(50);

        }
    }

    &[color="accent"] {
        .mat-slider-ticks, .mat-slider-thumb, .mat-slider-track-fill, .mat-slider-focus-ring {
            background-color: accent-color(500);
        }

        &.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
            border-color: accent-color(500);
            background-color: accent-color(500);
        }

        .mat-slider-track-background {
            background-color: rgba(accent-color(100), 0.8);

        }

        &:hover .mat-slider-track-background {
            background-color: accent-color(100);

        }
    }

}