@import "src/assets/scss/abstracts/flex.scss";
@import "src/assets/scss/abstracts/variables.scss";

:host {
    display: block;
}

mat-form-field {
    width: 100%;

    ::ng-deep {
        .mat-select-placeholder {
            color: #d0d0d0;
        }
    }

    mat-hint {
        color: #f44336;
    }
}