<div class="content">
    <div class="upload" *ngIf="!hasSave()">
        <input (change)="uploadSave($event)" type="file">
    </div>
    <div class="save" *ngIf="hasSave()">
        <div class="header">
            <button (click)="clearSave()">Clear</button>
        </div>
        <div class="navigation">
            <p>Class : <select [(ngModel)]="selectedClass"><option [value]="option.value" *ngFor="let option of CLASS_OPTIONS">{{option.label}}</option></select></p>
            <p>Item : <select (change)="itemChanged()" [(ngModel)]="selectedItem"><option [value]="i" *ngFor="let option of getItemOptions(); let i = index">{{option.label}}</option></select></p>
        </div>
        
        <div class="item" *ngIf="selectedExtendedItem !== null">
            <!--<div class="json">
                <app-json [data]="getBaseItem()"></app-json>
            </div>-->

            <div class="parsed">
                <app-item-view [item]="selectedExtendedItem"></app-item-view>
                <ng-container *ngFor="let data of getLegendariesData()">
                    <div class="legendary-data">
                        <app-item-view (click)="showData(data)" [item]="getLegendaryItem(data.game)"></app-item-view>
                        <app-json *ngIf="data.effect.activable !== null" [data]="data.effect.activable.values"></app-json>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>