<div class="content">
    <div class="upload">
        <input (change)="uploadSave($event)" type="file">
    </div>
    <div class="save" *ngIf="save !== null">
        <div class="header">
            <button (click)="clearSave()">Clear</button>
        </div>
        <div class="navigation">
            <p>Class : <select (change)="updateData()" [(ngModel)]="selectedClass"><option [value]="option.value" *ngFor="let option of CLASS_OPTIONS">{{option.label}}</option></select></p>
            <p>Attribute : <select (change)="updateData()" [(ngModel)]="selectedAttribute"><option [ngValue]="option.attribute" *ngFor="let option of ATTRIBUTE_OPTIONS">{{option.label}}</option></select></p>
            <p>Attribute Points : <select (change)="updateData()" [(ngModel)]="attributePoints"><option [ngValue]="option.value" *ngFor="let option of ATTRIBUTE_POINTS">{{option.label}}</option></select></p>
            <p>Item : <select (change)="updateData()" [(ngModel)]="selectedItem"><option [value]="i" *ngFor="let option of getItemOptions(); let i = index">{{option.label}}</option></select></p>
            <!--<p>Reaper : <select (change)="updateData()" [(ngModel)]="selectedReaperIndex"><option [value]="i" *ngFor="let option of getReaperOptions(); let i = index">{{option.label}}</option></select></p>-->
            <p>ReaperBase :
                <select (change)="updateData()" [(ngModel)]="reaperBase">
                    <option [ngValue]="option.value" *ngFor="let option of getReaperBaseOptions()">{{option.label}}</option>
                </select>
            </p>
            <p>Skill :
                <select (change)="updateData()" [(ngModel)]="selectedSkillIndex">
                    <option [ngValue]="option.value" *ngFor="let option of getSkillBaseOptions()">{{option.label}}</option>
                </select>
            </p>
            <p>Upgrades :
                <select (change)="updateData()" [(ngModel)]="selectedUpgradeIndex">
                    <option [ngValue]="option.value" *ngFor="let option of getUpgradeBaseOptions()">{{option.label}}</option>
                </select>
            </p>            
            <p>Ancestral legacy :
                <select (change)="updateData()" [(ngModel)]="selectedAncestralLegacyIndex">
                    <option [ngValue]="option.value" *ngFor="let option of getAncestralLegacyOptions()">{{option.label}}</option>
                </select>
            </p>
            <p>Primordial : <input (change)="updateData()" type="checkbox" [(ngModel)]="primordial"></p>
            <p>Details : <input (change)="updateData()" type="checkbox" [(ngModel)]="details"></p>
            <p>Level : <input (change)="updateData()" type="number" [(ngModel)]="level"></p>
            <p>Bonus : <input (change)="updateData()" type="number" [(ngModel)]="bonusLevel"></p>
        </div>

        <div class="item" *ngIf="selectedTrait !== null">
            <!--<app-json [data]="selectedTrait"></app-json>-->
            <!--<app-ancestral-legacy-view [ancestralLegacy]="selectedAncestralLegacy" (click)="showData(selectedAncestralLegacy)"></app-ancestral-legacy-view>-->
            <!--<app-skill-view [skill]="selectedSkill" *ngIf="selectedSkill !== null" (click)="showSkill(selectedSkill, selectedSkillIndex)"></app-skill-view>
            <app-skill-upgrade-view [upgrade]="selectedUpgrade" *ngIf="selectedUpgrade !== null" (click)="showUpgrade(selectedUpgrade, selectedUpgradeIndex)"></app-skill-upgrade-view>
            
            
            <app-attribute-summary-view [attributeTraits]="selectedTrait" (click)="showData(selectedTrait)"></app-attribute-summary-view>
            <app-trait-view *ngFor="let trait of selectedTrait.traits" [trait]="trait" (click)="showData(trait)"></app-trait-view>-->

            <div class="parsed">
                <!--<app-reaper-view (click)="showData(customReaper)" [reaper]="customReaper"></app-reaper-view>-->

                <app-item-view (click)="showData(selectedExtendedItem)"
                    [item]="selectedExtendedItem"
                    [details]="details"
                    [class]="selectedClass"></app-item-view>
                    
                <!--<ng-container *ngFor="let data of getLegendariesData()">
                    <div class="legendary-data">
                        <app-item-view (click)="showData(data)" [details]="details" [class]="selectedClass" [item]="getLegendaryItem(data.game)"></app-item-view>
                    </div>
                </ng-container>-->
            </div>
        </div>
    </div>
</div>