<div *ngIf="item !== null" class="item {{item.rarity}}" [class.nodetails]="!details">
    <div class="head" [innerHTML]="item.name"></div>
    <div class="content">
        <div *ngIf="equipped" class="equipped">Equipped</div>
        <div class="main">
            <div class="info">
                <div class="icon">
                    <img class="background" [src]="item.itemIconBackground" />
                    <img [src]="item.icon" />
                </div>
                <div class="rarity">{{item.rarityLabel}}</div>
                <div class="split">-</div>
                <div class="base">{{item.baseLabel}}</div>
                <div>{{item.levelLabel}}</div>
            </div>
            <div class="separator"></div>
            <div class="stats">
                <div class="affixes" *ngIf="getNormalAffixes().length > 0">
                    <div class="title">Base Stats:</div>
                    <ul>
                        <li *ngFor="let affix of getNormalAffixes()"  [class.pure]="affix.isPure" class="marks-{{affix.pureMarks}}">
                            <div class="bullet"><div class="{{affix.rarity}}"></div></div>
                            <div class="value" [innerHTML]="affix.valueLabel"></div>
                            <div class="name" [innerHTML]="affix.statLabel"></div>
                        </li>
                    </ul>
                </div>
                <div class="affixes" *ngIf="getDefensiveAffixes().length > 0">
                    <div class="title">Defensive Stats:</div>
                    <ul>
                        <li *ngFor="let affix of getDefensiveAffixes()"  [class.pure]="affix.isPure" class="marks-{{affix.pureMarks}}">
                            <div class="bullet"><div class="{{affix.rarity}}"></div></div>
                            <div class="value" [innerHTML]="affix.valueLabel"></div>
                            <div class="name" [innerHTML]="affix.statLabel"></div>
                        </li>
                    </ul>
                </div>
                <div class="affixes" *ngIf="getMagicAffixes().length > 0">
                    <div class="title">Magic Stats:</div>
                    <ul>
                        <li *ngFor="let affix of getMagicAffixes()"  [class.pure]="affix.isPure" class="marks-{{affix.pureMarks}}">
                            <div class="bullet"><div class="{{affix.rarity}}"></div></div>
                            <div class="value" [innerHTML]="affix.valueLabel"></div>
                            <div class="name" [innerHTML]="affix.statLabel"></div>
                        </li>
                    </ul>
                </div>
                <div class="affixes" *ngIf="getRareAffixes().length > 0">
                    <div class="title">Rare Stats:</div>
                    <ul>
                        <li *ngFor="let affix of getRareAffixes()"  [class.pure]="affix.isPure" class="marks-{{affix.pureMarks}}">
                            <div class="bullet"><div class="{{affix.rarity}}"></div></div>
                            <div class="value" [innerHTML]="affix.valueLabel"></div>
                            <div class="name" [innerHTML]="affix.statLabel"></div>
                        </li>
                    </ul>
                </div>
                <div class="affixes" *ngIf="getEpicAffixes().length > 0">
                    <div class="title">Epic Stats:</div>
                    <ul>
                        <li *ngFor="let affix of getEpicAffixes()"  [class.pure]="affix.isPure" class="marks-{{affix.pureMarks}}">
                            <div class="bullet"><div class="{{affix.rarity}}"></div></div>
                            <div class="value" [innerHTML]="affix.valueLabel"></div>
                            <div class="name" [innerHTML]="affix.statLabel"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="legendary-effect outer-border" *ngIf="item.legendaryEffect !== null">
            <div class="border">
                <div class="inner-border legendary-description">
                    <div class="title">
                        <div class="bullet"><div class="legendary"></div></div>
                        {{item.legendaryEffect.title}}
                        <div class="bullet"><div class="legendary"></div></div>
                    </div>
                    <div class="description">
                        <span [innerHTML]="item.legendaryEffect.description"></span>
                        <span class="value" *ngIf="item.legendaryEffect.activable !== null"> {{item.legendaryEffect.activable.name}}</span>
                    </div>
                    <div class="icon" *ngIf="item.legendaryEffect.skillIcon !== null">
                        <img [src]="item.legendaryEffect.skillIcon" />
                    </div>
                </div>
            </div>
        </div>
        <app-activable-view *ngIf="item.legendaryEffect !== null && item.legendaryEffect.activable !== null"
            [activable]="item.legendaryEffect.activable"
            [reinforcment]="item.reinforcment"></app-activable-view>
        <div class="buff reaper" *ngIf="item.reaperEnchantment !== null">
            <img [src]="item.reaperEnchantment.icon"/>
            <div class="info" [innerHTML]="item.reaperEnchantment.label"></div>
        </div>
        <div class="buff skill" *ngIf="item.skillEnchantment !== null">
            <img [src]="item.skillEnchantment.icon"/>
            <div class="info" [innerHTML]="item.skillEnchantment.label"></div>
        </div>
        <div class="buff attribute atr-{{item.attributeEnchantment.craftedAttribute}}" *ngIf="item.attributeEnchantment !== null">
            <img [src]="item.attributeEnchantment.icon"/>
            <div class="info" [innerHTML]="item.attributeEnchantment.label"></div>
        </div>
    </div>
</div>