
<div class="header">
    <div class="tools">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <nav mat-tab-nav-bar color="primary">
        <a mat-tab-link *ngFor="let route of ROUTES; let i = index"
            [routerLink]="route.route"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            <span translate>{{ route.name }}</span>
        </a>
    </nav>
    <app-language-selector></app-language-selector>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-legendary-sidenav></app-legendary-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-legendary-list></app-legendary-list>
    </mat-sidenav-content>
</mat-sidenav-container>

