
<mat-icon [matMenuTriggerFor]="menu" (contextmenu)="openCharacterSettings()">settings</mat-icon>
<mat-menu #menu="matMenu" xPosition="after" [overlapTrigger]="true">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="editCharacterLevel()">Change hero level</button>
        <button mat-menu-item *ngIf="character !== null && character.reaper !== null && hasItems()" (click)="optimizeReaperEnchantments()">Optimize items for Reaper</button>
        <button mat-menu-item *ngIf="character !== null && hasItems()" [matMenuTriggerFor]="attributes">Optimize items for Attribute</button>
        <button mat-menu-item *ngIf="character !== null && hasItems()" [matMenuTriggerFor]="skills">Optimize items for Skill</button>
    </ng-template>
    <mat-menu #attributes="matMenu">
        <button mat-menu-item *ngFor="let trait of getTraits()"
            (click)="optimizeAttributeEnchantments(trait)" class="menu-entry">
            <img [src]="trait.icon"><div [innerHTML]="trait.attributeName"></div>
        </button>
    </mat-menu>
    <mat-menu #skills="matMenu">
        <button mat-menu-item *ngFor="let skill of getSkills()"
            (click)="optimizeSkillEnchantments(skill)" class="menu-entry">
            <img class="skill-icon" [src]="skill.icon"><div [innerHTML]="skill.name"></div>
        </button>
    </mat-menu>
</mat-menu>