<div class="content">
    <mat-card class="header">
        <mat-card-content>
            <form [formGroup]="form">
                <div class="options">
                    <div class="classes">
                        <div class="head" *ngFor="let heroClass of HERO_CLASSES" [class.selected]="isSelectedClass(heroClass)" (click)="selectClass(heroClass)">
                            <img src="assets/img/character/icon/{{heroClass}}/head.png" />
                        </div>
                    </div>
                    <div class="flags">
                        <mat-checkbox color="primary" formControlName="primordial">Primordial</mat-checkbox>
                        <mat-checkbox color="primary" formControlName="maxLevelAndAffinity">Max. level, mastery and affinity</mat-checkbox>
                        <mat-checkbox color="primary" formControlName="onlyMaxEvolve">Only show Max. evolution</mat-checkbox>
                    </div>
                </div>
                <div class="search">
                    <mat-form-field appearance="outline" color="primary" class="no-error-padding">
                        <mat-label>Search</mat-label>
                        <input matInput type="text" formControlName="search" autocomplete="off"/>
                        <mat-icon matSuffix *ngIf="hasSearch()" (click)="removeSearch()">close</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="reapers">

        <mat-card-content>
            <div class="reaper" *ngFor="let reaper of filteredReapers" (click)="debug(reaper)">
                <div class="reaper-container">
                    <div class="actions">
                        <mat-icon class="warn" *ngIf="isNotAvailable(reaper)" matTooltip="This reaper is not available in game yet">warning</mat-icon>
                        <mat-icon class="button" *ngIf="isCopyable()" (click)="copy(reaperDom)" matTooltip="Copy reaper as image to clipboard">photo</mat-icon>
                    </div>
                    <div class="reaper-window" #reaperDom>
                        <app-reaper-view [reaper]="reaper"></app-reaper-view>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>