
<form [formGroup]="form" (submit)="submit()" *ngIf="form !== null">
    <h2 mat-dialog-title>Choose your hero level</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Hero level</mat-label>
            <input matInput type="number" step="1" formControlName="level">
            <mat-error>Level must be between 1 and {{MAX_HERO_LEVEL}}</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button type="button" color="primary" [mat-dialog-close]="null">Cancel</button>
        <button mat-flat-button type="submit" color="primary" >Apply</button>
    </mat-dialog-actions>
</form>