$pallet-primary: (
    50: #e3e3e3,
    100: #bababa,
    200: #8c8c8c,
    300: #5e5e5e,
    400: #3c3c3c,
    500: #191919,
    600: #161616,
    700: #121212,
    800: #0e0e0e,
    900: #080808,
    A100: #ff5050,
    A200: #ff1d1d,
    A400: #e90000,
    A700: #cf0000,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$pallet-accent: (
    50: #f0e4e1,
    100: #dbbcb4,
    200: #c38f83,
    300: #aa6251,
    400: #98412b,
    500: #861f06,
    600: #7e1b05,
    700: #731704,
    800: #691203,
    900: #560a02,
    A100: #ff8d88,
    A200: #ff5c55,
    A400: #ff2b22,
    A700: #ff1308,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$boxtal-warn: (
    50 : #f8e3e6,
    100 : #edb9c2,
    200 : #e28a99,
    300 : #d65b70,
    400 : #cd3851,
    500 : #c41532,
    600 : #be122d,
    700 : #b60f26,
    800 : #af0c1f,
    900 : #a20613,
    A100 : #ffcdd0,
    A200 : #ff9a9f,
    A400 : #ff676f,
    A700 : #ff4d57,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);