<div class="stat-line" [formGroup]="form"  *ngIf="form !== null && affix !== null">
    <div class="select">
        <app-search-select label="Stat"
            [control]="form.get('stat')"
            [options]="options"
            [optionDisable]="optionDisableMethod">
        </app-search-select>
    </div>
    <div class="slider">
        <mat-slider *ngIf="!affix.isPure"
            color="primary"
            [min]="affix.craftedEffect.minPossibleCraftedValue"
            [max]="affix.craftedEffect.maxPossibleCraftedValue"
            [step]="1"
            formControlName="value"
            (input)="updateSliderStat($event)">
        </mat-slider>
        <mat-slider *ngIf="affix.isPure"
            color="accent"
            [min]="101"
            [max]="200"
            [step]="1"
            formControlName="purity"
            (input)="updateSliderPurity($event)">
        </mat-slider>
    </div>
    <div class="additional">
        <div class="value" [class.pure]="affix.isPure">
            {{displayedValue}}
        </div>
        <mat-checkbox color="primary" (change)="purityChanged($event)" [checked]="affix.isPure">Pure</mat-checkbox>
        <button mat-icon-button color="primary" type="button" [disabled]="!removable" (click)="removeStat()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>