<div class="stat-form" [formGroup]="form"  *ngIf="form !== null && affix !== null">
    <div class="field">
        <mat-form-field appearance="outline">
            <mat-label>Stat</mat-label>
            <mat-select formControlName="stat">
                <mat-option *ngFor="let option of options" [disabled]="isOptionDisabled(option.value)" [value]="option.value">
                    <span [innerHTML]="option.label"></span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-slider
            color="primary"
            [min]="affix.craftedEffect.minPossibleCraftedValue"
            [max]="affix.craftedEffect.maxPossibleCraftedValue"
            [thumbLabel]="true"
            [step]="1"
            formControlName="value"
            [displayWith]="displayWith">
        </mat-slider>
    </div>
</div>