@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/variables";


.stat-form {
    @include flex-row-to-column('small-desktop', flex-start, space-between);
    @include flex-gap($space-unit * 4);
    @include respond-to('small-desktop') {
        align-items: stretch;
    }

    .field {
        @include flex-grow();
        @include flex-row-to-column('tablet', stretch, center);
        @include flex-gap($space-unit * 4);

        .slider {
            @include flex(column, stretch);
            @include flex-grow();
        }

        .additional {
            @include flex(row, center, space-between);
            @include flex-gap($space-unit * 4);

            .value {
                width: 40px;
            }

            .delete {
                cursor : pointer;
            }
        }
    }
}