<div class="stat-line" [formGroup]="form"  *ngIf="form !== null && affix !== null">
    <div class="select">
        <app-search-select
            [placeholder]="STATS_LABELS[form.controls.stat.value] ?? null"
            [control]="form.controls.stat"
            [options]="options"
            [validationOptions]="validationOptions"
            [disabledOptions]="alreadyUsedStats"
            notFoundMessage="This stat is not possible for this rarity">
        </app-search-select>
    </div>
    <div class="slider">
        <mat-slider *ngIf="!form.controls.pure.value"
            color="primary"
            [min]="affix.craftedEffect.minPossibleCraftedValue"
            [max]="affix.craftedEffect.maxPossibleCraftedValue"
            [step]="1"
            formControlName="value"
            (input)="updateSliderStat($event)">
        </mat-slider>
        <mat-slider *ngIf="form.controls.pure.value"
            color="accent"
            [min]="101"
            [max]="200"
            [step]="1"
            formControlName="purity"
            (input)="updateSliderPurity($event)">
        </mat-slider>
    </div>
    <div class="additional">
        <div class="value" [class.pure]="form.controls.pure.value">{{displayedValue}}</div>
        <mat-checkbox color="primary" formControlName="pure">Pure</mat-checkbox>
        <button mat-icon-button color="primary" type="button" [disabled]="!removable" (click)="removeStat()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>