<div class="content">
    <div class="left-save">
        <div class="upload" *ngIf="!hasLeft()">
            <input (change)="uploadLeft($event)" type="file">
            <select (change)="selectLeft($event)">
                <option [value]="null">Select a save ...</option>
                <option [value]="save.value" *ngFor="let save of SAVES">{{save.label}}</option>
            </select>
        </div>
        <div class="save" *ngIf="hasLeft()">
            <div class="header">
                <button (click)="clearLeft()">Clear</button>
            </div>
            <app-json (scroll)="synchronizeScrolls($event)" [data]="getLeftSaveAttributeData()"></app-json>
        </div>

    </div>
    <div class="attributes">
        <div class="attribute" *ngFor="let attribute of getAttributes()"
                [class.has-difference]="hasDifferences(attribute)"
                [class.selected]="getAttribute() === attribute">
            <button (click)="setAttribute(attribute)">{{attribute}}</button>
        </div>
    </div>
    <div class="right-save">

        <div class="upload" *ngIf="!hasRight()">
            <input (change)="uploadRight($event)" type="file">
            <select (change)="selectRight($event)">
                <option [value]="null">Select a save ...</option>
                <option [value]="save.value" *ngFor="let save of SAVES">{{save.label}}</option>
            </select>
        </div>
        <div class="save" *ngIf="hasRight()">
            <div class="header">
                <button (click)="clearRight()">Clear</button>
            </div>
            <app-json (scroll)="synchronizeScrolls($event)" [data]="getRightSaveAttributeData()"></app-json>
        </div>
    </div>
</div>