@use '@angular/material' as mat;
@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/spacing";
@import "../../../../../assets/scss/abstracts/color";

main {
    @include flex-row-to-column('tablet', stretch, center);
    @include flex-gap($space-content);
    @include spacing($space-content, true);
    overflow-x: auto;

    @include respond-to('tablet') {
        height: auto;
    }

    mat-card {
        mat-card-content {
            @include flex(column, stretch);
            @include flex-gap($space-unit * 5);

            width: 340px;
            padding: 0 60px;

            h3 {
                width: 100%;
                text-align: center;
                margin-top: 0;
            }

            @include respond-to('tablet') {
                width: auto;
                padding: 0;
            }
        }
    }
}