@import '../abstracts/flex';
@import '../abstracts/color';

mat-card.mat-card {
    @include flex(column, stretch);
    background-color: primary-color(700);
    color: primary-color(700, true);

    @include respond-to('mobile') {
        border-radius: 0;
    }

    mat-card-content {
        @include flex-grow();
        overflow: auto;
    }
    
    mat-card-actions.mat-card-actions {
        @include flex-row-to-column('tablet', stretch, flex-end);
        @include flex-gap($space-unit * 2);
    }
}