@import '../abstracts/flex';

mat-dialog-container {
    background-color: primary-color(500);
    color: primary-color(500, true);

    @include respond-to('mobile') {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    mat-dialog-content.mat-dialog-content {
        max-height: 80vh;
    }

    mat-dialog-actions.mat-dialog-actions {
        @include flex-row-to-column('tablet', stretch, flex-end);
        @include flex-gap($space-unit * 2);
        min-height: auto;
    
        .mat-button-base+.mat-button-base,
        .mat-mdc-button-base+.mat-mdc-button-bas {
            margin-left: 0;
        }
    }
}

