$text-color: primary-color(700, true);
$background-color: primary-color(700);

$border-color: primary-color(200);

mat-form-field.mat-form-field {
    font: 14px FiraSans, sans-serif;
    // margin-bottom: 16px;
    line-height: 14px;

    mat-label {
        color: primary-color(100);
    }

    .mat-form-field-wrapper {
        .mat-form-field-flex {
            align-items: center;
            
            .mat-form-field-infix {
                width: auto;
                padding: 3px 0 8px;

                input {
                    padding: 0 6px;
                    color: $text-color;
                    height: initial;

                    &::placeholder {
                        color: $text-color;
                    }

                    &[type=number]::-webkit-inner-spin-button,
                    &[type=number]::-webkit-outer-spin-button {
                        margin: 0 8px 2px 0;
                    }
                }

                .mat-form-field-label-wrapper {
                    top: -19px;
                    left: 7px;
                }
            }
        }
    }

    &.mat-form-field-appearance-outline {
        &.mat-form-field-can-float.mat-form-field-should-float {
            .mat-form-field-label {
                transform: translateY(-19px) scale(0.75);
            }
        }

        &.mat-form-field-disabled {
            .mat-form-field-outline {
                color: $text-color;
            }
        }

        .mat-form-field-subscript-wrapper {
            line-height: 12px;
        }

        .mat-form-field-outline {
            color: $border-color;
            background-color: none;
            border-radius: 4px;
        }

        .mat-form-field-outline.mat-form-field-outline-thick {
            color: $border-color;
        }

        .mat-form-field-infix {
            padding: 5px 0 7px;
        }
    }

    &.mat-form-field-invalid {
        margin-bottom: 16px;

        .mat-form-field-outline.mat-form-field-outline-thick {
            color: red;
        }
    }

    &.no-error-padding {
        margin-bottom: 0;
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        &.mat-form-field-invalid {
            margin-bottom: 0;
        }
    }
}