@use '~@angular/material' as mat;
@import '~@angular/material/theming';

$theme-primary-pallet: map-get($theme, primary);

.mat-menu-panel[role="menu"] {

    @include mat.elevation(4, mat-color($theme-primary-pallet, 400));

    max-width: 320px;

    background-color: mat-color($theme-primary-pallet, 500);

    .mat-menu-item, .mat-menu-item mat-icon {
        color: mat-contrast($theme-primary-pallet, 900);
    }

    .mat-menu-item:hover:not([disabled]) {
        background-color: mat-color($theme-primary-pallet, 400);
    }
    
    .mat-menu-item-submenu-trigger::after {
        border-color: transparent transparent transparent mat-contrast($theme-primary-pallet, 900);
    }
}