@use '@angular/material' as mat;

$text-color: primary-color(700, true);

mat-select.mat-select {

    .mat-select-arrow-wrapper {
        transform: none;
    }
    
    .mat-select-value-text,
    .mat-select-arrow-wrapper .mat-select-arrow,
    .mat-form-field.mat-focused.mat-primary & .mat-select-arrow {
        color: $text-color;
    }
}

.mat-select-panel .mat-option-text, mat-select-trigger {
    @include flex(row, center);

    img {
        height: $space-unit * 4;
        margin-right: $space-unit * 2;
    }
}

div.mat-select-panel {
    max-height: 300px;

    &.has-search::before {
        content: '';
    }

    &.mat-primary {
        @include mat.elevation(4, primary-color(400));
    
        background-color: primary-color(400);

        mat-option.mat-option {
            //line-height: 2.5em;
            //height: 2.5em;

            .mat-option-text {
                color: $text-color;
            }

            &[role="option"] {
                background-color: primary-color(400);

                &.mat-selected:not(.mat-option-multiple), &:hover {
                    background-color: primary-color(300);
                }
                &.mat-active:not(.mat-option-multiple) {
                    background-color: primary-color(200);
                }
                &.mat-option-disabled .mat-option-text {
                    color: rgba($text-color, 0.5);
                }
                
                &.filtered {
                    display: none;
                }
            }

            &[role="search"] {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: primary-color(300);
            
                border-bottom: 1px solid primary-color(400, true);
            
                input { 
                    caret-color: auto;
                    &::placeholder {
                        color: $text-color;
                    }
                }
            }

            &[role="no-result"] {
                .mat-option-text {
                    @include flex(column, center);
                }
            }
        }
    }
}