
mat-sidenav-container {
    height: 100%;
}
mat-sidenav-content {
    @include flex(column, stretch);
    @include flex-grow();
    @include spacing();
    box-sizing: border-box;
    overflow: auto;
    
    background-color: primary-color(100);
}

mat-sidenav.mat-drawer {
    background-color: primary-color(400);
    color: primary-color(400, true);
    @include flex(column, stretch);
    padding: $space-unit * 4;
    width: 350px;

    
    @include respond-to('mobile') {
        width: 100%;
    }
}