h2, h3 {
    &:not(.not-first):first-child {
        margin-top: 0;
    }
    font-weight: normal;
}

h3 {
    &.section {
        color: $section-title-color
    }

    margin-bottom: $space-unit * 2;
    margin-top: $space-unit * 5;
}