
<div class="rune" [class.selected]="selected" [class.hidden-search]="hiddenBySearch">
    <div class="overlay-position" cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>
    <div class="inner-slot"></div>
    <ng-container *ngIf="rune !== null">
        <img class="rune-icon" class="smith-{{rune.reapersmith}}" [class.aura]="hasAura(rune)" [src]="rune.runeIcon">
        <img class="rune-level" [src]="rune.levelBorder" *ngIf="showLevel">
        <ng-template cdkConnectedOverlay
            [cdkConnectedOverlayOpen]="showOverlay"
            [cdkConnectedOverlayOrigin]="trigger">
            <app-rune-view [rune]="rune"></app-rune-view>
        </ng-template>
    </ng-container>
</div>
