<div class="activable" *ngIf="activable !== null">
    <div class="activable-head">
        <div class="icon">
            <img [src]="activable.icon" />
        </div>
        <div class="info">
            <div class="name">{{activable.name}}</div>
            <div class="genre" *ngIf="activable.genresLabel !== null" [innerHTML]="activable.genresLabel"></div>
            <div class="cooldown" *ngIf="activable.cooldownLabel !== null" [innerHTML]="activable.cooldownLabel"></div>
            <div class="cost" *ngIf="!activable.costLabel !== null" [innerHTML]="activable.costLabel"></div>
        </div>
    </div>
    <div class="description" [innerHTML]="activable.description"></div>
</div>