<div *ngIf="character !== null">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="Stuff">
            <p><b>Support skill : </b><span [innerHTML]="getSkillName(character.supportSkill)"></span></p>
            <p><b>Primary skill : </b><span [innerHTML]="getSkillName(character.primarySkill)"></span></p>
            <p><b>Secondary skill : </b><span [innerHTML]="getSkillName(character.secondarySkill)"></span></p>

            <p><b>Reaper : </b><span *ngIf="character.reaper !== null" [innerHTML]="character.reaper.name"></span></p>

            <p><b>Ancestral Legacies : </b></p>
            <p *ngFor="let ancestralLegacyId of character.ancestralLegacies.activeAncestralLegacies" [innerHTML]="getAncestralLegacyName(ancestralLegacyId)"></p>

            <p><b>Gear : </b></p>
            <p >Helm : <span *ngIf="character.gear.helm !== null" [innerHTML]="character.gear.helm.name"></span></p>
            <p>Body : <span *ngIf="character.gear.body !== null" [innerHTML]="character.gear.body.name"></span></p>
            <p>Shoulder : <span *ngIf="character.gear.shoulder !== null" [innerHTML]="character.gear.shoulder.name"></span></p>
            <p>Bracer :<span *ngIf="character.gear.bracer !== null" [innerHTML]="character.gear.bracer.name"></span></p>
            <p>Glove : <span *ngIf="character.gear.glove !== null" [innerHTML]="character.gear.glove.name"></span></p>
            <p>Boot : <span *ngIf="character.gear.boot !== null" [innerHTML]="character.gear.boot.name"></span></p>
            <p>Ring (left) : <span *ngIf="character.gear.ring_l !== null" [innerHTML]="character.gear.ring_l.name"></span></p>
            <p>Ring (right) : <span *ngIf="character.gear.ring_r !== null" [innerHTML]="character.gear.ring_r.name"></span></p>
            <p>Amulet :<span *ngIf="character.gear.amulet !== null" [innerHTML]="character.gear.amulet.name"></span></p>
            <p>Belt : <span *ngIf="character.gear.belt !== null" [innerHTML]="character.gear.belt.name"></span></p>
            <p>Cape : <span *ngIf="character.gear.cape !== null" [innerHTML]="character.gear.cape.name"></span></p>
        </mat-tab>
        <mat-tab label="Inventory">
            <div *ngFor="let item of character.inventory">
                <p [innerHTML]="item.name"></p>
            </div></mat-tab>
        <mat-tab label="Stats">Stats</mat-tab>
        <mat-tab label="Json">
            <textarea>{{character | json}}</textarea></mat-tab>
      </mat-tab-group>
</div>