
<mat-icon [matMenuTriggerFor]="menu" (contextmenu)="openCharacterSettings()">settings</mat-icon>
<mat-menu color="primary" #menu="matMenu" xPosition="after" [overlapTrigger]="true">
    <ng-template matMenuContent>
        <button mat-menu-item color="primary" (click)="editCharacterLevel()">Change hero level</button>
        <button mat-menu-item color="primary" *ngIf="character !== null && canOptimizeReaperEnchantements(character) && hasItems()" (click)="optimizeReaperEnchantments()">Optimize items for Reaper</button>
        <button mat-menu-item color="primary" *ngIf="character !== null && hasItems()" [matMenuTriggerFor]="attributes">Optimize items for Attribute</button>
        <button mat-menu-item color="primary" *ngIf="character !== null && hasItems()" [matMenuTriggerFor]="skills">Optimize items for Skill</button>
        <button mat-menu-item color="primary" *ngIf="character !== null && hasItems()" (click)="optimizeItemsAffixes()">Optimise items affixes</button>
        <button mat-menu-item color="primary" *ngIf="character !== null && hasItems()" (click)="maximizeItemsLevel()">Maximize items level</button>
        <button mat-menu-item color="primary" *ngIf="character !== null && hasItems()" (click)="changeReinforcementLevel()">Change items reinforcement level</button>
    </ng-template>
    <mat-menu color="primary" #attributes="matMenu">
        <button mat-menu-item color="primary" *ngFor="let trait of getTraits()"
            (click)="optimizeAttributeEnchantments(trait)" class="menu-entry">
            <img [src]="trait.icon"><div [innerHTML]="trait.attributeName"></div>
        </button>
    </mat-menu>
    <mat-menu color="primary" #skills="matMenu">
        <button mat-menu-item color="primary" *ngFor="let skill of getSkills()"
            (click)="optimizeSkillEnchantments(skill)" class="menu-entry">
            <img class="skill-icon" [src]="'assets/img/icon/' + skill.icon + '.png'"><div [innerHTML]="skill.name"></div>
        </button>
    </mat-menu>
</mat-menu>