@use '~@angular/material' as mat;
@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/spacing";
@import "../../../../../assets/scss/abstracts/color";

input[type="file"] {
    display: none;
}

.import-game {
    @include flex(column, center);
    @include flex-gap($space-unit * 3);


    button {
        width: 250px;
    }

    h3 {
        text-align: center;
        margin-top: 0;
    }

    textarea {
        width: 230px;
        max-width: 230px;
        height: 60px;
        max-height: 60px;
    }
}