
<form [formGroup]="form" (submit)="submit()" *ngIf="form !== null && reaper !== null" autocomplete="off">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <mat-dialog-content>
        <div class="preview">
            <app-reaper-view [reaper]="reaper"></app-reaper-view>
        </div>
        <div class="form">
            <div class="stat-line">
                <app-search-select label="Reaper base"
                    [control]="getReaperControl()"
                    [options]="options"
                    [noErrorPadding]="true">
                </app-search-select>
            </div>
            <div class="stat-line">
                <mat-form-field appearance="outline">
                    <mat-label>Reaper level</mat-label>
                    <input matInput type="number" step="1" formControlName="baseLevel">
                    <mat-error>Level must be between 1 and {{reaper.maxLevel}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Reaper mastery level</mat-label>
                    <input matInput type="number" step="0" formControlName="masteryLevel">
                    <mat-error>Level must be between 0 and {{MAX_REAPER_LEVEL}}</mat-error>
                </mat-form-field>
            </div>
            <div class="stat-line">
                <mat-form-field appearance="outline">
                    <mat-label>Reaper kills (base)</mat-label>
                    <input matInput type="number" step="1" formControlName="baseKills">
                    <mat-error>Kills must be >= 0</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Reaper kills (primordial)</mat-label>
                    <input matInput type="number" step="1" formControlName="primordialKills">
                    <mat-error>Kills must be >= 0</mat-error>
                </mat-form-field>
            </div>
            <div class="stat-line">
                <mat-form-field appearance="outline">
                    <mat-label>Reaper base affinity</mat-label>
                    <input matInput type="number" step="1" formControlName="reaperAffinity">
                    <mat-error>Base affinity must be between 0 and {{MAX_REAPER_AFFINITY_BASE}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="useDifferentAffinityForEffects(reaper)">
                    <mat-label>Reaper effects base affinity</mat-label>
                    <input matInput type="number" step="1" formControlName="effectAffinity">
                    <mat-icon matSuffix matTooltip="This reaper use a different affinity value for it's effects">info</mat-icon>
                    <mat-error>Base effect affinity must be between 0 and {{MAX_EFFECT_AFFINITY_BASE}}</mat-error>
                </mat-form-field>
            </div>
            <div class="stat-line">
                <mat-checkbox color="primary" formControlName="primordial">Primordial</mat-checkbox>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button type="button" color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-flat-button type="button" color="primary" (click)="reset()">Reset</button>
        <button mat-flat-button type="submit" color="primary">Apply</button>
    </mat-dialog-actions>
</form>