
<div class="skill" [class.support]="support" [class.readonly]="readonly" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (contextmenu)="openMenu()" (click)="openMenu()">
    <ng-container *ngIf="skill !== null">
        <img [src]="support ? skill.iconLarge : skill.icon">
        <ng-template cdkConnectedOverlay
            [cdkConnectedOverlayOpen]="showOverlay"
            [cdkConnectedOverlayOrigin]="trigger">
            <app-skill-view [skill]="skill"></app-skill-view>
        </ng-template>
    </ng-container>
    <div [matMenuTriggerFor]="menu"></div>
    <mat-menu #menu="matMenu" yPosition="above" class="skill-menu">
        <ng-template matMenuContent>
            <button mat-menu-item *ngFor="let skill of getAvailableSkills()" (click)="updateSkill(skill)">
                <div class="skill-menu-entry" [class.selected]="isSelectedSkill(skill)">
                    <img [src]="support ? skill.iconLarge : skill.icon" class="skill" [class.support]="support">
                    <div class="description">
                        <div class="name">{{skill.name}}</div>
                        <div *ngIf="skill.specializationName !== null" class="specialization">{{skill.specializationName}}</div>
                        <div class="mastery">{{MASTERY_LABEL}}: {{skill.level}} / {{SKILL_MAX_MASTERY}}</div>
                    </div>
                </div>
            </button>
        </ng-template>
    </mat-menu>
</div>