@import "../../../../../assets/scss/abstracts/flex.scss";
@import "../../../../../assets/scss/abstracts/variables.scss";
@import "../../../../../assets/scss/theme/theme";
@import '~@angular/material/theming';

$theme-primary-pallet: map-get($theme, primary);

$primary-color: mat-color($theme-primary-pallet);

:host {
    min-width: 42px;
    height: 42px;
    min-height: 42px;
    overflow:hidden;
}

.skill {
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    border: 4px solid black;
    position: relative;
    background-color: rgb(19, 19, 19);


    &.support {
        width: 84px;
        min-width: 84px;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .name {
        text-transform: uppercase;
    }

    > div {
        position: absolute;
        top: -8px;
        left: 0;
    }
}

.skill-menu-entry {
    @include flex(row, center);
    @include flex-gap($space-unit* 2);


    .skill-icon {
        border: 4px solid mat-color($theme-primary-pallet, 300);
    }

    .description {
        @include flex(column, stretch);
        .name, .specialization {
            line-height: normal;
            font-weight: bold;
            text-transform: uppercase;
        };
        .mastery {
            line-height: normal;
        }
    }

    &.selected {
        .skill {
            border-color: rgb(237, 211, 113);
        }

        .name, .specialization {
            color: rgb(237, 211, 113);
        }
    }
}

app-item-view {
    width: 350px;
}