
<div class="reaper" (click)="edit()" *ngIf="character !== null" [class.readonly]="readonly" [class.hidden-search]="hiddenBySearch">
    <div class="overlay-position" cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>
    <div class="inner-slot"></div>
    <ng-container>
        <img [src]="character.reaper.icon" [class.primordial-effect]="character.reaper.primordial">
        <ng-template cdkConnectedOverlay
            [cdkConnectedOverlayOpen]="showOverlay"
            [cdkConnectedOverlayOrigin]="trigger">
            <app-reaper-view [reaper]="character.reaper"></app-reaper-view>
        </ng-template>
    </ng-container>
</div>
