@use '@angular/material' as mat;
@import "src/assets/scss/abstracts/flex";
@import "src/assets/scss/abstracts/spacing";
@import "src/assets/scss/abstracts/color";

:host {
    display: block;
    height: 100%;
}

.content {
    @include flex(column, stretch, stretch);
    @include flex-gap($space-content);
    height: 100%;

    .header {
        padding-top: $space-unit;
        padding-bottom: $space-unit;

        mat-card-content {
            @include spacing($space-unit);
            form {
                @include flex-row-to-column('tablet', stretch, space-between);
                @include flex-gap($space-unit * 3);

                .options {
                    @include flex-row-to-column('tablet', stretch, flex-start);
                    @include flex-gap($space-unit * 3);

                    .bases {
                        width: 200px;

                        @include respond-to('tablet') {
                                width: 100%;
                        }
                        mat-form-field {
                            width: 100%;
                        }
                    }

                    .flags {
                        @include flex(row, center, space-between);
                        @include flex-gap($space-unit * 3);
                    }
                }

                .search {
                    width: 250px;

                    mat-form-field {
                        width: 100%;

                        mat-icon {
                            cursor: pointer;
                        }
                    }
                }

                @include respond-to('tablet') {
                    .search {
                        width: 100%;
                    }
                }
            }
        }

    }

    .legendaries {
        @include flex-grow(1);
        overflow: auto;

        mat-card-content {
            display: grid;
            grid-gap: 10px;
            grid-auto-rows: minmax(auto, auto);
            grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

            .legendary {
                @include flex(column, flex-start);

                .legendary-container {
                    @include flex(column, flex-end);
                    @include flex-gap($space-unit * 2);

                    &:not(:hover) .actions .hidden {
                        opacity: 0;
                    }
    
                    .actions {
                        @include flex(row, center, space-between);
                        @include flex-gap($space-unit * 2);
                        width: 100%;

                        .hero-class img {
                            height: 24px;
                            width: 24px;
                        }
                        
                        .hidden {
                            -webkit-transition: opacity 0.2s ease-in-out;
                            -moz-transition: opacity 0.2s ease-in-out;
                            transition: opacity 0.2s ease-in-out;
                        }

                        mat-icon {
                            opacity: 0.3;
    
                            &:hover {
                                opacity: 0.8;
                            }

                            &.warn {
                                color: $warn-color;
                            }

                            &.button {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}


.classes {
    @include flex(row, center, space-around);
    @include flex-gap($space-unit);

    .head {
        position: relative;
        border: 4px solid black;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &.selected {
            border-color: primary-color(100);
        }

        img {
            width: 100%;
            height: 100%;
            image-rendering: pixelated;
            transition: opacity 0.5s;
        }

        .level {
            position: absolute;
            bottom: $space-unit * -5;
            width: $space-unit * 4;
            height: $space-unit * 4;
            line-height: 14px;
            text-align: center;
            border: 2px solid black;
            padding: $space-unit;
            border-radius: 20% 20% 50% 50%;
            background-color: primary-color(300);
            transition: opacity 0.5s;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}