@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/variables";

.content {
    padding: $space-unit * 4;
    @include flex(row, center);
    @include flex-gap($space-unit * 4);

    img {
        height: 30px;
        image-rendering: pixelated;
    }

    .message {
        @include flex(row, center);
        @include flex-grow();

        ::ng-deep {
            img {
                height: $space-unit * 8;
                image-rendering: pixelated;
                margin: 0 $space-unit;
            }
        }
    }

    mat-icon {
        cursor : pointer;
    }
}