@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/variables";

.form-line {
    @include flex-row-to-column('small-desktop', flex-start, space-between);
    @include flex-gap($space-unit * 4);
    @include respond-to('small-desktop') {
        align-items: stretch;
    }

    .field {
        @include flex-row-to-column('tablet', flex-start, space-between);
        @include flex-grow();
        @include flex-gap($space-unit * 4);

        .additional {
            @include flex(row, center);
            @include flex-gap($space-unit * 4);

            .value {
                width: 75px;
            }
        }

        .slider {
            @include flex(column, stretch);
            @include flex-grow();
        }
    }
}
.form-info {
    @include flex(row, center);
    min-height: $space-unit * 10;
}
.form-add {
    @include flex(row, center, flex-end);
}