
<div class="form-info">Attribute Enchantment :</div>
<div class="form-line" [formGroup]="form"  *ngIf="form !== null && attributeEnchantment !== null">
    <div class="field">
        <mat-form-field appearance="outline">
            <mat-label>Attribute Enchantment</mat-label>
            <mat-select formControlName="attribute">
                <mat-option *ngFor="let option of options" [value]="option.value">
                    <span [innerHTML]="option.label"></span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="field">
        <div class="slider">
            <mat-slider
                color="primary"
                [min]="1"
                [max]="3"
                [step]="1"
                formControlName="value"
                (input)="updateSliderValue($event)">
            </mat-slider>
        </div>
        <div class="additional">
            <div class="value">
                {{displayedValue}}
            </div>
            
            <button mat-icon-button color="primary" type="button" (click)="removeAttributeEnchantment()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="form-add" *ngIf="form !== null && attributeEnchantment === null">
    <button mat-icon-button type="button" color="primary" (click)="addAttributeEnchantment()"><mat-icon>add</mat-icon></button>
</div>