
@import 'browsers';
@import 'browsers';
@import 'variables';
@import 'breakpoints';

@mixin flex($direction: row, $align: null, $justify: null) {
    display: flex;

    flex-direction: $direction;
    @if $align {
        align-items: $align;
    }
    @if $justify {
        justify-content: $justify;
    }
}

@mixin flex-grow($grow: 1, $basis: false) {
    flex-grow: $grow;
    @if $basis {
        flex-basis: 0;
        @include safari-only() {
            flex-basis:auto;
        }
    }
}

@mixin flex-gap($size: $space-content) {
    gap: $size;
}


@mixin flex-row-to-column($breakpoint, $align: null, $justify: null) {
    @include flex(row, $align, $justify);

    @include respond-to($breakpoint) {
        flex-direction: column;
    }
}