
<form [formGroup]="form" (submit)="submit()" *ngIf="form !== null && item !== null">
    <mat-dialog-content>
        <div class="preview">
            <app-item-view [item]="item" [details]="true"></app-item-view>
        </div>
        <div class="form">
            <div class="form-line">
                <mat-form-field appearance="outline">
                    <mat-label>Item level</mat-label>
                    <input matInput type="number" step="1" formControlName="level">
                    <mat-error>Level must be between 1 and {{MAX_NEITHER_ITEM_LEVEL}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Item reinforcement</mat-label>
                    <input matInput type="number" step="1" min="0" formControlName="reinforcement">
                    <mat-error>Reinforcement must be >= 0</mat-error>
                </mat-form-field>
            </div>
            <div class="form-line" *ngIf="item.level > 100">
                <mat-checkbox color="primary" formControlName="hideGrafts">
                    Hide graft only affixes from selection
                </mat-checkbox>
            </div>
            <div class="form-info">
                <div class="label">
                    Base Stats :
                </div>
                <div class="add" *ngIf="!hasMaximumBasicStats()">
                    <button mat-icon-button type="button" color="primary" (click)="addBasicAffix()"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <ng-container *ngIf="hasBasicStats()">
                <ng-container *ngFor="let affixControl of form.controls.affixes.controls; let i = index">
                    <app-item-edit-stat *ngIf="isBasicStat(affixControl)"
                        [form]="affixControl"
                        [itemBase]="item.base"
                        [itemLevel]="item.level"
                        [itemReinforcement]="item.reinforcement"
                        [alreadyUsedStats]="alreadyUsedStats"
                        [hideGrafts]="form.controls.hideGrafts.value"
                        [removable]="false"
                        (remove)="removeAffix(affixControl)">
                    </app-item-edit-stat>
                </ng-container>
            </ng-container>
            <div class="form-info" *ngIf="hasBasicStats()">
                <div class="label">
                    Defensive Stats :
                </div>
                <div class="add" *ngIf="hasBasicStats() && !hasMaximumDefensiveStats()">
                    <button mat-icon-button type="button" color="primary" (click)="addDefensiveAffix()"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <ng-container *ngFor="let affixControl of form.controls.affixes.controls; let i = index">
                <app-item-edit-stat *ngIf="isDefensiveStat(affixControl)"
                    [form]="affixControl"
                    [itemBase]="item.base"
                    [itemLevel]="item.level"
                    [itemReinforcement]="item.reinforcement"
                    [alreadyUsedStats]="alreadyUsedStats"
                    [hideGrafts]="form.controls.hideGrafts.value"
                    [removable]="!hasRareStats() && !hasEpicStats() && !hasMagicStats()"
                    (remove)="removeAffix(affixControl)">
                </app-item-edit-stat>
            </ng-container>
            <div class="form-info" *ngIf="hasBasicStats()">
                <div class="label">
                    Magic Stats :
                </div>
                <div class="add" *ngIf="hasBasicStats() && !hasMaximumMagicStats()">
                    <button mat-icon-button type="button" color="primary" (click)="addMagicAffix()"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <ng-container *ngFor="let affixControl of form.controls.affixes.controls; let i = index">
                <app-item-edit-stat *ngIf="isMagicStat(affixControl)"
                    [form]="affixControl"
                    [itemBase]="item.base"
                    [itemLevel]="item.level"
                    [itemReinforcement]="item.reinforcement"
                    [alreadyUsedStats]="alreadyUsedStats"
                    [hideGrafts]="form.controls.hideGrafts.value"
                    [removable]="!hasRareStats() && !hasEpicStats()"
                    (remove)="removeAffix(affixControl)">
                </app-item-edit-stat>
            </ng-container>
            <div class="form-info" *ngIf="hasMagicStats()">
                <div class="label">
                    Rare Stats :
                </div>
                <div class="add" *ngIf="hasMagicStats() && !hasMaximumRareStats()">
                    <button mat-icon-button type="button" color="primary" (click)="addRareAffix()"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <ng-container *ngFor="let affixControl of form.controls.affixes.controls; let i = index">
                <app-item-edit-stat *ngIf="isRareStat(affixControl)"
                    [form]="affixControl"
                    [itemBase]="item.base"
                    [itemLevel]="item.level"
                    [itemReinforcement]="item.reinforcement"
                    [alreadyUsedStats]="alreadyUsedStats"
                    [hideGrafts]="form.controls.hideGrafts.value"
                    [removable]="!hasEpicStats()"
                    (remove)="removeAffix(affixControl)">
                </app-item-edit-stat>
            </ng-container>
            <div class="form-info" *ngIf="hasRareStats()">
                <div class="label">
                    Epic Stats :
                </div>
                <div class="add" *ngIf="hasRareStats() && !hasMaximumEpicStats()">
                    <button mat-icon-button type="button" color="primary" (click)="addEpicAffix()"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <ng-container *ngFor="let affixControl of form.controls.affixes.controls">
                <app-item-edit-stat *ngIf="isEpicStat(affixControl)"
                    [form]="affixControl"
                    [itemBase]="item.base"
                    [itemLevel]="item.level"
                    [itemReinforcement]="item.reinforcement"
                    [alreadyUsedStats]="alreadyUsedStats"
                    [hideGrafts]="form.controls.hideGrafts.value"
                    [removable]="true"
                    (remove)="removeAffix(affixControl)">
                </app-item-edit-stat>
            </ng-container>
            <app-item-edit-legendary-effect
                [base]="item.base"
                [itemLevel]="item.level"
                [itemReinforcement]="item.reinforcement"
                [heroClass]="item.heroClass"
                [hideGrafts]="form.controls.hideGrafts.value"
                [form]="form.controls.legendary">
            </app-item-edit-legendary-effect>
            <app-item-edit-buff-reaper
                [form]="form.controls.reaper">
            </app-item-edit-buff-reaper>
            <app-item-edit-buff-skill
                [heroClass]="item.heroClass"
                [form]="form.controls.skill">
            </app-item-edit-buff-skill>
            <app-item-edit-buff-attribute
                [form]="form.controls.attribute">
            </app-item-edit-buff-attribute>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button type="button" color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-flat-button type="button" color="primary" (click)="reset()">Reset</button>
        <button mat-flat-button [disabled]="!form.valid || !possible" type="submit" color="primary">Apply</button>
    </mat-dialog-actions>
</form>