
<form [formGroup]="form" (submit)="submit()" *ngIf="form !== null">
    <mat-dialog-content>
        <div class="preview">
            <app-item-view [item]="item" [details]="true"></app-item-view>
        </div>
        <div class="form">
            <div class="form-line">
                <mat-form-field appearance="outline">
                    <mat-label>Item level</mat-label>
                    <input matInput type="number" min="1" step="1" [max]="MAX_ITEM_LEVEL" formControlName="level">
                    <mat-error>Level must be between 1 and {{MAX_ITEM_LEVEL}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Item reinforcment</mat-label>
                    <input matInput type="number" min="0" step="1" formControlName="reinforcment">
                    <mat-error>Reinforcment must be >= 0</mat-error>
                </mat-form-field>
            </div>
            <ng-container formArrayName="affixes">
                <ng-container *ngIf="hasBasicStats()">
                    <div class="form-info">Base Stats :</div>
                    <ng-container *ngFor="let affixControl of getAffixControls(); let i = index">
                        <div class="form-line" [formGroupName]="i" *ngIf="isBasicStat(affixControl)">
                            <mat-form-field appearance="outline">
                                <mat-label>Stat</mat-label>
                                <mat-select formControlName="stat">
                                    <mat-select-trigger>{{getStatLabel(affixControl)}}</mat-select-trigger>
                                    <mat-option *ngFor="let option of getStatOptions(i)" [disabled]="option.disabled" [value]="option.value"><span [innerHTML]="option.label"></span></mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Value</mat-label>
                                <mat-select formControlName="value">
                                    <mat-option *ngFor="let option of getCraftOptions(i)" [value]="option.value">{{option.label}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="form-line" *ngIf="!hasMaximumBasicStats()">
                    <button mat-flat-button color="primary">Add Base Stat</button>
                </div>
                <ng-container *ngIf="hasMagicStats()">
                    <div class="form-info">Magic Stats :</div>
                    <ng-container *ngFor="let affixControl of getAffixControls(); let i = index">
                        <div class="form-line" [formGroupName]="i" *ngIf="isMagicStat(affixControl)">
                            <div class="field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stat</mat-label>
                                    <mat-select formControlName="stat">
                                        <mat-select-trigger>{{getStatLabel(affixControl)}}</mat-select-trigger>
                                        <mat-option *ngFor="let option of getStatOptions(i)" [disabled]="option.disabled" [value]="option.value"><span [innerHTML]="option.label"></span></mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Value</mat-label>
                                    <mat-select formControlName="value">
                                        <mat-option *ngFor="let option of getCraftOptions(i)" [value]="option.value">{{option.label}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="form-line" *ngIf="!hasMaximumMagicStats()">
                    <button mat-flat-button color="primary">Add Magic Stat</button>
                </div>
                <ng-container *ngIf="hasRareStats()">
                    <div class="form-info">Rare Stats :</div>
                    <ng-container *ngFor="let affixControl of getAffixControls(); let i = index">
                        <div class="form-line" [formGroupName]="i" *ngIf="isRareStat(affixControl)">
                            <div class="field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stat</mat-label>
                                    <mat-select formControlName="stat">
                                        <mat-select-trigger>{{getStatLabel(affixControl)}}</mat-select-trigger>
                                        <mat-option *ngFor="let option of getStatOptions(i)" [disabled]="option.disabled" [value]="option.value"><span [innerHTML]="option.label"></span></mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Value</mat-label>
                                    <mat-select formControlName="value">
                                        <mat-option *ngFor="let option of getCraftOptions(i)" [value]="option.value">{{option.label}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="form-line" *ngIf="!hasMaximumRareStats()">
                    <button mat-flat-button color="primary">Add Rare Stat</button>
                </div>
                <ng-container *ngIf="hasEpicStats()">
                    <div class="form-info">Epic Stats :</div>
                    <ng-container *ngFor="let affixControl of getAffixControls(); let i = index">
                        <div class="form-line" [formGroupName]="i" *ngIf="isEpicStat(affixControl)">
                            <div class="field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stat</mat-label>
                                    <mat-select formControlName="stat">
                                        <mat-select-trigger>{{getStatLabel(affixControl)}}</mat-select-trigger>
                                        <mat-option *ngFor="let option of getStatOptions(i)" [disabled]="option.disabled" [value]="option.value"><span [innerHTML]="option.label"></span></mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Value</mat-label>
                                    <mat-select formControlName="value">
                                        <mat-option *ngFor="let option of getCraftOptions(i)" [value]="option.value">{{option.label}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="form-line" *ngIf="!hasMaximumEpicStats()">
                    <button mat-flat-button color="primary">Add Epic Stat</button>
                </div>
            </ng-container>
            <div>
                Effet legendaire ...
            </div>
            <div>
                Buff reaper ...
            </div>
            <div>
                Buff skill ...
            </div>
            <div>
                Buff stat ...
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button type="button" color="primary" (click)="reset()">Reset</button>
        <button mat-flat-button type="submit" color="primary">Submit</button>
    </mat-dialog-actions>
</form>