<div class="skill slormancer-tooltip {{skill.damageTypes.length > 0 ? skill.damageTypes[0] : ''}}" *ngIf="skill !== null">
    <div class="head inner-box" [innerHTML]="skill.nameLabel"></div>
    <div class="content inner-box">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <img [src]="'assets/img/icon/' + skill.icon + '.png'" />
                </div>
            </div>
            <div class="data">
                <div class="genre" *ngIf="skill.genresLabel !== null" [innerHTML]="skill.genresLabel"></div>
                <div class="cooldown" *ngIf="skill.cooldownLabel !== null">
                    <span [innerHTML]="skill.cooldownLabel"></span>
                    <mat-icon *ngIf="skill.cooldownDetailsLabel !== null"  [matTooltip]="skill.cooldownDetailsLabel">info_outline</mat-icon>
                </div>
                <div class="fast" *ngIf="skill.fastLabel !== null" [innerHTML]="skill.fastLabel"></div>
                <div class="cost" *ngIf="skill.costLabel !== null" [innerHTML]="skill.costLabel"></div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="skill.description"></div>
        <div class="bottom-level">
            <img src="assets/img/icon/{{skill.levelIcon}}.png"/>
            <span class="bonus" *ngIf="skill.bonusLevel > 0"> + {{skill.bonusLevel}}</span>
        </div>
    </div>
</div>