<div class="skill {{skill.damageTypes.length > 0 ? skill.damageTypes[0] : ''}}" *ngIf="skill !== null">
    <div class="head" [innerHTML]="skill.nameLabel"></div>
    <div class="content">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <img [src]="skill.icon" />
                </div>
            </div>
            <div class="data">
                <div class="genre" *ngIf="skill.genresLabel !== null" [innerHTML]="skill.genresLabel"></div>
                <div class="cooldown" *ngIf="skill.cooldownLabel !== null" [innerHTML]="skill.cooldownLabel"></div>
                <div class="cost" *ngIf="skill.costLabel !== null" [innerHTML]="skill.costLabel"></div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="skill.description"></div>
        <div class="level-info">
            <div class="total">
                <span class="base" [class.max]="skill.baseLevel === skill.maxLevel">{{skill.baseLevel}}</span>
                <span class="bonus" *ngIf="skill.bonusLevel > 0"> + {{skill.bonusLevel}}</span>
            </div>
        </div>
    </div>
</div>