@use '~@angular/material' as mat;
@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/spacing";
@import "../../../../../assets/scss/abstracts/color";

.import-game {
    @include flex(column, stretch);
    @include flex-gap($space-unit * 3);

    h3 {
        text-align: center;
        margin-top: 0;
    }

    .save-summary {
        @include flex(column, center);
        @include flex-gap($space-unit);

        p {
            margin: 0;
        }

        .classes {
            @include flex(row, center);
            @include flex-gap($space-unit);
            padding-bottom: $space-unit * 5;

            .head {
                position: relative;
                border: 4px solid black;
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                    height: 100%;
                    image-rendering: pixelated;
                    transition: opacity 0.5s;
                }
    
                .level {
                    position: absolute;
                    bottom: $space-unit * -5;
                    width: $space-unit * 4;
                    height: $space-unit * 4;
                    line-height: 14px;
                    text-align: center;
                    border: 2px solid black;
                    padding: $space-unit;
                    border-radius: 20% 20% 50% 50%;
                    background-color: primary-color(300);
                    transition: opacity 0.5s;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &.disabled {
            img {
                opacity: 0.1;
            }
            .level, p {
                opacity: 0;
            }
        }

        &:not(.disabled) {
            cursor: pointer;
            
            .classes .head.selected {
                &, .level {
                    border-color: primary-color(100);
                }
            }
        }
    }
}