:host {
    background-color: #212121;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.json {
    background-color: #212121;
    color: #eeeeee;
    font-weight: bold;
    margin: 0;
    width: 100%;
    height: 100%;

    ::ng-deep {
        .text {
            color: rgb(224, 151, 14);
        }
        .number.non-zero {
            color: green;
        }
        .number.minus-one {
            color: red;
        }
    }
}