@use '@angular/material' as mat;
@import "~src/assets/scss/abstracts/flex";
@import "~src/assets/scss/abstracts/spacing";
@import "~src/assets/scss/abstracts/color";

mat-form-field {
    width: 100%;
}

hr {
    margin-top: $space-unit * 3;
    margin-bottom: $space-unit * 3;
}