<h2>Create build from a Slormancer save</h2>
<app-create-build-from-game (created)="passCreatedEvent()" [name]="buildName"></app-create-build-from-game>
<hr/>
<h2>Create build from exported data</h2>
<app-create-build-from-export (created)="passCreatedEvent()" [name]="buildName"></app-create-build-from-export>
<hr/>
<h2>Create empty build</h2>
<app-create-build-empty (created)="passCreatedEvent()" [name]="buildName"></app-create-build-empty>
<hr/>
<mat-form-field appearance="outline" color="primary" class="no-error-padding">
    <mat-label>Build name</mat-label>
    <input matInput type="text" [(ngModel)]="buildName"/>
</mat-form-field>