@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/variables";
@import "../../../../../assets/scss/abstracts/color";
@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/spacing";
@import "../../../../../assets/scss/abstracts/color";

$section-color  : rgb(206, 70, 7);

.section {
    @include flex(column, stretch);
    @include flex-gap($space-unit);

    h3 {
        color: $section-color;
        margin-top: $space-unit * 5;
        margin-bottom: $space-unit;
    }
    .stat {
        @include flex(row, center, space-between);
        padding-left: $space-unit * 2;
    }
}