@import "src/assets/scss/abstracts/flex";
@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/color";
@import "src/assets/scss/abstracts/flex";
@import "src/assets/scss/abstracts/spacing";
@import "src/assets/scss/abstracts/color";

.sections {
    @include flex(column, stretch);
    @include flex-gap($space-unit);

    .stat {
        @include flex(row, center, space-between);
        padding-left: $space-unit * 2;

        cursor: pointer;

        &:hover {
            background-color: rgba(white, 0.1);
        }

        &.selected {
            background-color: rgba(white, 0.3);
        }
    }
}