
<div class="ancestral-legacy" *ngIf="ancestralLegacy !== null"
    (click)="!showModalTooltip($event, ancestralLegacy) && increasesRank()"
    (contextmenu)="decreasesRank()"
    [class.ranked]="ancestralLegacy.rank > 0"
    [class.equipped]="equipped"
    [class.selected]="selected"
    [class.readonly]="readonly"
    [class.hidden-search]="hiddenBySearch"
    cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <div class="inner">
        <img [src]="ancestralLegacy.icon" />
    </div>
    <div class="rank" [class.max]="ancestralLegacy.rank === ancestralLegacy.maxRank">{{ancestralLegacy.rank === ancestralLegacy.maxRank ? 'Max' : ancestralLegacy.rank}}</div>
    <ng-template cdkConnectedOverlay *ngIf="showOverlay && overlay"
        [cdkConnectedOverlayOpen]="showOverlay"
        [cdkConnectedOverlayOrigin]="trigger">
        <app-ancestral-legacy-view [ancestralLegacy]="ancestralLegacy"></app-ancestral-legacy-view>
    </ng-template>
</div>