<div *ngIf="!showSave()">
    <p>C:\Users\Cayrac\AppData\Local\The_Slormancer</p>
    <p>Fichier : <input (change)="loadSave($event.target.files[0])" type="file"></p>
</div>
<div *ngIf="showSave()"><button (click)="reset()">RESET</button></div>
<div class="save-view" *ngIf="showSave()">
    <app-hexa-view [data]="slormBytes" [(min)]="selectionMin" [(max)]="selectionMax"></app-hexa-view>
    <app-hexa-tool [data]="slormBytes" [save]="slormSave" [(min)]="selectionMin" [(max)]="selectionMax"></app-hexa-tool>
</div>