$border-color                   : rgb(121, 183, 164);
$reaper-bg-color                : rgb(9,9,9);
$reaper-icon-outer-border-color : rgb(59, 56, 49);
$reaper-icon-inner-border-color : rgb(18, 16, 14);
$reaper-icon-bg-color           : rgb(34, 32, 28);
$reaper-max-damages-color       : rgb(104, 104, 104);
$reaper-lore-separator-color    : rgb(59, 56, 49);
$reaper-lore-color              : rgb(184, 184, 184);
$reaper-bonus-level-color       : rgb(20, 143, 138);
$reaper-malus-level-color       : rgb(293, 71, 34);
$reaper-bonus-bullet-color      : rgb(97, 247, 183);
$reaper-malus-bullet-color      : rgb(209, 48, 1);
$reaper-desc-details            : rgb(104, 104, 104);

.reaper {
    background-color: $reaper-bg-color;
    color: white;
    border: 2px solid black;
    width: 350px;
    
    > .head, > .content {
        border: 2px solid $border-color;
    }

    > .head {
        margin-bottom: 2px;
        text-align: center;
        padding: 10px 50px;
        text-transform: uppercase;
        font-size: 17px;
    }

    > .content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 15px 10px;
        gap: 15px;

        .info {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .icon {
                width: 130px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: stretch;

                .background-outer {
                    border: 3px solid $reaper-icon-outer-border-color;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    .background {
                        border: 3px solid $reaper-icon-inner-border-color;
                        background-color: $reaper-icon-bg-color;
                        flex-grow: 1;

                        height: 150px;
                        width: 85px;
                    }
                }

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -12.5%;
                    margin-left: -12.5%;
                    image-rendering: pixelated;
                    -moz-transform: scale(4);
                    -ms-transform: scale(4);
                    -o-transform: scale(4);
                    -webkit-transform: scale(4);
                    transform: scale(4);
                }
            }

            .summary {
                position: relative;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                text-align: left;
                gap: 10px;
                font-size: 16px;

                .base .type {
                    text-transform: uppercase;
                }

                .current-damage {
                    font-size: 30px;
                }
                .level {
                    font-size: 20px;

                    ::ng-deep .bonus-level {
                        color: $reaper-bonus-level-color;
                    }
                }

                .max-damage {
                    color: $reaper-max-damages-color;
                }
            }
        }

        .bullet {
            min-width: 8px;
            div {
                display: inline-block;
                height: 6px;
                width: 6px;
                border: 1px solid black;
                border-radius: 6px;
                margin: auto;
            }
        }

        .description {
            text-align: center;

            ::ng-deep {
                .value {
                    color: $reaper-bonus-level-color;
                }
                .details {
                    color: $reaper-desc-details;
                }
            }
        }

        .benediction {
            color: $reaper-bonus-level-color;

            .bullet div {
                background-color: $reaper-bonus-bullet-color;
            }
        }

        .malediction {
            color: $reaper-malus-level-color;

            .bullet div {
                background-color: $reaper-malus-bullet-color;
            }
        }

        .malediction, .benediction {

            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }

            ::ng-deep {
                .value {
                    color: white;
                }
            }
        }
            
        .separator {
            background-color: $reaper-lore-separator-color;
            margin: 0 30px;
            height: 4px;
        }

        .lore {
            color: $reaper-lore-color;
            text-align: center;
        }
    }
    
}