<div *ngIf="reaper !== null" class="reaper" [style.maxHeight]="maxHeight" [class.mobile-view]="tooltip" #main>
    <div class="head">{{reaper.name}}</div>
    <div class="content" #content>
        <div class="info">
            <div class="icon">
                <img [src]="reaper.icon" loading="lazy" [class.primordial-effect]="reaper.primordial"/>
                <div class="background-outer"><div class="background"></div></div>
            </div>
            <div class="summary">
                <div class="affinity" *ngIf="reaper.affinityLabel !== null" [innerHTML]="reaper.affinityLabel">
                </div>
                <div class="base">
                    <div class="type">{{reaper.type}}</div>
                    <div class="builder" [innerHTML]="reaper.smithLabel"></div>
                </div>
                <div class="damages" [class.mastery]="reaper.masteryLabel !== null">
                    <div class="current-damage">{{reaper.damagesLabel}}</div>
                    <div class="type" [innerHTML]="reaper.damageTypeLabel"></div>
                    <div *ngIf="reaper.masteryLabel !== null" class="mastery-level" [innerHTML]="reaper.masteryLabel"></div>
                    <div class="max-damage">{{reaper.maxDamagesLabel}}</div>
                </div>
                <div class="stats">
                    <div class="victim" [innerHTML]="reaper.victimsLabel"></div>
                    <div class="level"><span class="base" [innerHTML]="reaper.levelLabel"></span><span class="bonus" [innerHTML]="reaper.bonusLevelLabel"></span></div>
                </div>
            </div>
        </div>
        <div class="description" [innerHTML]="reaper.description">
        </div>
        <div class="benediction" *ngIf="reaper.benediction !== null">
            <div class="title"><div class="bullet"><div></div></div>{{reaper.benedictionTitleLabel}}<div class="bullet"><div></div></div></div>
            <div class="description" [innerHTML]="reaper.benediction"></div>
        </div>
        <div class="malediction" *ngIf="reaper.malediction !== null">
            <div class="title"><div class="bullet"><div></div></div>{{reaper.maledictionTitleLabel}}<div class="bullet"><div></div></div></div>
            <div class="description" [innerHTML]="reaper.malediction"></div>
        </div>
        <div class="activables" *ngIf="reaper.activables.length > 0">
            <div class="title"><div class="bullet"><div></div></div>{{reaper.activablesTitleLabel}}<div class="bullet"><div></div></div></div>
            <app-activable-view [activable]="skill" *ngFor="let skill of reaper.activables"></app-activable-view>
        </div>
        <div class="separator"></div>
        <div class="lore" [innerHTML]="reaper.lore">
        </div>
    </div>
</div>