<div *ngIf="reaper !== null" class="reaper">
    <div class="head">{{reaper.name}}</div>
    <div class="content">
        <div class="info">
            <div class="icon">
                <img src="assets/img/reaper/{{reaper.icon}}.png" [class.primordial]="reaper.primordial"/>
                <div class="background-outer"><div class="background"></div></div>
            </div>
            <div class="summary">
                <div class="base">
                    <div class="type">{{reaper.type}}</div>
                    <div class="builder">By {{reaper.builder.name}}</div>
                </div>
                <div class="damages">
                    <div class="current-damage">{{getDamages(reaper, reaper.level)}}</div>
                    <div class="type">{{getDamageType(reaper.damageType)}}</div>
                    <div class="max-damage">{{getDamages(reaper, reaper.maxLevel + MAX_BONUS)}} at level {{reaper.maxLevel + MAX_BONUS}}</div>
                </div>
                <div class="stats">
                    <div class="victim">{{reaper.kills}} {{getVictimsLabel()}}</div>
                    <div class="level">{{getLevelLabel()}} :
                        <ng-container *ngIf="reaper.maxLevel !== reaper.level">{{reaper.level}}</ng-container>
                        <ng-container *ngIf="reaper.maxLevel === reaper.level">Max({{reaper.level}})</ng-container>
                        <span class="bonus-level" *ngIf="reaper.bonusLevel > 0">+{{reaper.bonusLevel}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="description" [innerHTML]="reaper.description">
        </div>
    </div>
</div>