<h2 mat-dialog-title>Choose the stats you want for your items</h2>
<mat-dialog-content>
    <p>Each stat below will be applied in order to the {{items.length > 1 ? items.length + ' selected items' : 'selected item'}} (at maximum crafting value) using the first available affix slot.</p>
    <p>Items will loose their affixes before being updated.</p>
    <p *ngFor="let stat of selectedStats; let i = index" class="stat" (click)="removeStat(i)">#{{i + 1}} : {{stat.label}}</p>
    <mat-form-field appearance="outline" color="primary" class="no-error-padding">
        <mat-label>{{selectedStats.length > 0 ? 'Add another stat' : 'Choose a stat'}}</mat-label>
        <mat-select [formControl]="statControl">
            <mat-option *ngFor="let option of options" [value]="option">{{option.label}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button type="button" color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button type="button" color="primary" (click)="applyStats()" [disabled]="selectedStats.length === 0">Apply</button>
</mat-dialog-actions>