<div class="trait" *ngIf="trait !== null">
    <div class="activable-head">
        <div class="info">
            <div class="attribute">{{trait.attributeName}}</div>
            <div class="subtitle">
                <div class="rank">{{trait.rankLabel}}</div>
                <div class="level">{{trait.traitLevelLabel}}</div>
            </div>
        </div>
    </div>
    <div class="description" [innerHTML]="trait.description"></div>
    <ng-container *ngIf>
        <div class="separator"></div>
        <div class="unlock" [innerHTML]="trait.unlockLabel"></div>
    </ng-container>
</div>