<div *ngIf="attribute !== null" class="bar attribute-{{attribute.attribute}}" cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    [class.icon-shift]="iconShift"
    [class.readonly]="readonly"
    [class.short]="short">
    <img [src]="attribute.icon" 
        (mouseenter)="showSummary = true"
        (mouseleave)="showSummary = false"/>
    <div class="pre-bar"
        (mouseenter)="nodeEnter(-1)"
        (mouseleave)="nodeLeave()"
        (click)="nodeClick()">
    </div>
    <app-trait *ngFor="let trait of attribute.traits; let i = index; trackBy:trackByTrait"
        [trait]="trait"
        [first]="i === 0"
        [last]="i === (attribute.traits.length - 1)"
        [highlight]="isHighlight(i)"
        [bonus]="isBonus(i)"
        [unlocked]="isUnlocked(i)"
        (mouseenter)="nodeEnter(i)"
        (mouseleave)="nodeLeave()"
        (click)="nodeClick()">
    </app-trait>
    <div class="total">
        +{{attribute.rank}} {{attribute.attributeName}}
    </div>
    <ng-template cdkConnectedOverlay
        [cdkConnectedOverlayOpen]="showSummary"
        [cdkConnectedOverlayOrigin]="trigger">
        <app-attribute-summary-view [attributeTraits]="attribute" ></app-attribute-summary-view>
    </ng-template>
    <button mat-icon-button color="primary" (click)="addPoint($event)" [disabled]="remainingPoints === 0 || attribute.baseRank === MAX_RANK" *ngIf="!readonly">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removePoint($event)" [disabled]="attribute.baseRank === 0" *ngIf="!readonly">
        <mat-icon>remove</mat-icon>
    </button>
</div>