@import "../../../../../assets/scss/abstracts/flex";
@import "../../../../../assets/scss/abstracts/color";

$bar-color: primary-color(300);

$toughness-color       : rgb(47, 89, 150); 
$savagery-color        : rgb(168, 48, 7); 
$fury-color            : rgb(121, 181, 73); 
$determination-color   : rgb(208, 181, 69); 
$zeal-color            : rgb(75, 193, 178); 
$willpower-color       : rgb(117, 48, 152); 
$dexterity-color       : rgb(205, 112, 40); 
$bravery-color         : rgb(191, 60, 89); 

$shift-size: $space-unit * 4;

.bar {
    @include flex(row, center);
    padding: $space-unit 0;
    position: relative;
    height: 60px;

    &.icon-shift {
        margin-left: $shift-size;
    }

    &:before {
        content: ' ';
        position: absolute;
        background-color: $bar-color;
        border: 4px solid black;
        transform: rotate(45deg);
        width: 38px;
        height: 38px;
    }

    img {
        z-index: 2;
        padding-left: 1px;
    }

    .pre-bar {
        background-color: $bar-color;
        border: 4px solid black;
        margin-left: -6px;
        border-left: 0;
        border-right: 0;
        min-width: 20px;
        width: 20px;
        height: 30px;
        z-index: 1;
    }
    
    &:not(.readonly) .pre-bar {
        cursor: pointer;
    }

    &:not(.icon-shift) .pre-bar {
        width: 20px + $shift-size;
    }

    .total {
        display: none;
        background-color: $bar-color;
        border: $space-unit solid black;
        font-weight: bold;
        border-left: 0;
        width: 130px;
        height: 30px;
    }

    button {
        margin-left: $space-unit * 2;
    }

    &.short {
        app-trait {
            display: none;
        }
        .total {
            @include flex(row, center);
        }
    }

    @include respond-to('tablet') {
        app-trait {
            display: none;
        }
        .total {
            @include flex(row, center);
        }
    }

    &.attribute-0 .total {
        color: $toughness-color;
    }
    &.attribute-1 .total {
        color: $savagery-color;
    }
    &.attribute-2 .total {
        color: $fury-color;
    }
    &.attribute-3 .total {
        color: $determination-color;
    }
    &.attribute-4 .total {
        color: $zeal-color;
    }
    &.attribute-5 .total {
        color: $willpower-color;
    }
    &.attribute-6 .total {
        color: $dexterity-color;
    }
    &.attribute-7 .total {
        color: $bravery-color;
    }
}