<input type="number" (keyup)="computeStats()" (click)="computeStats()" [(ngModel)]="reinforcment">
Flat min : <input type="text" (keyup)="computeStats()" [(ngModel)]="minFormula">
Flat max : <input type="text" (keyup)="computeStats()" [(ngModel)]="maxFormula">
Percent : <input type="text" (keyup)="computeStats()" [(ngModel)]="maxPercentFormula">
Low percent : <input type="text" (keyup)="computeStats()" [(ngModel)]="maxLowPercentFormula">
<div class="table">
    <div class="col">
        <div class="cell">Level</div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell name {{rarity}}">RARITY {{rarity}}</div>
            <div class="cell name {{rarity}}" *ngFor="let stat of STATS">{{stat}}</div>
        </ng-container>
        <div class="cell"></div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell name {{rarity}}">RARITY {{rarity}}</div>
            <div class="cell name {{rarity}}" *ngFor="let stat of STATS">{{stat}}</div>
        </ng-container>
    </div>
    <div class="col">
        <div class="cell">0 (base)</div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <div class="cell" *ngFor="let stat of STATS">{{getBaseValue(stat)}}</div>
        </ng-container>
        <div class="cell"></div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <div class="cell" *ngFor="let stat of STATS">{{getBaseValue(stat)}}</div>
        </ng-container>
    </div>
    <div class="col" *ngFor="let level of LEVELS">
        <div class="cell">{{level}}</div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <ng-container *ngFor="let stat of STATS">
                <div class="cell" [class.hide]="hide(level, stat, rarity)"> 
                    <ng-container *ngIf="hasData(level, stat, rarity)">
                        <span [class.same]="getLine(level).data[stat][rarity].min === getComputedLine(level).data[stat][rarity].min">{{getLine(level).data[stat][rarity].min}}</span>
                        <span class="change" *ngIf="hasDiff(level)">+{{getDiff(level, stat, rarity, "min")}}</span> - 
                        <span [class.same]="getLine(level).data[stat][rarity].max === getComputedLine(level).data[stat][rarity].max">{{getLine(level).data[stat][rarity].max}}</span>
                        <span class="change" *ngIf="hasDiff(level)">+{{getDiff(level, stat, rarity, "max")}}</span>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <div class="cell"></div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <ng-container *ngFor="let stat of STATS">
                <div class="cell" [class.hide]="hide(level, stat, rarity)">
                    <ng-container *ngIf="hasData(level, stat, rarity)">
                        <span [class.same]="getLine(level).data[stat][rarity].min === getComputedLine(level).data[stat][rarity].min">{{getComputedLine(level).data[stat][rarity].min}}</span>
                        <span class="change" *ngIf="hasDiff(level)">+{{getComputedDiff(level, stat, rarity, "min")}}</span> - 
                        <span [class.same]="getLine(level).data[stat][rarity].max === getComputedLine(level).data[stat][rarity].max">{{getComputedLine(level).data[stat][rarity].max}}</span>
                        <span class="change" *ngIf="hasDiff(level)">+{{getComputedDiff(level, stat, rarity, "max")}}</span>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>