<!--<input type="number" (keyup)="computeStats()" (click)="computeStats()" [(ngModel)]="reinforcment">
Flat min : <input type="text" (keyup)="computeStats()" [(ngModel)]="minFormula">
Flat max : <input type="text" (keyup)="computeStats()" [(ngModel)]="maxFormula">-->
Percent : <input type="text" (keyup)="computeStats()" [(ngModel)]="maxPercentFormula">
Percent : <input type="text" [(ngModel)]="levelRatioFormula">
<!--Low percent : <input type="text" (keyup)="computeStats()" [(ngModel)]="maxLowPercentFormula">-->
<div class="table">
    <div class="col">
        <div class="cell">Level</div>
        <div class="cell">Expected</div>
        <div class="cell name">ceil</div>
        <div class="cell name">round</div>
        <div class="cell name">floor</div>
    </div>
    <div class="col" *ngFor="let level of [1, 19, 20, 34, 35, 40]">
        <div class="cell">{{level}}</div>
        <div class="cell">{{getExpected(level)}}</div>
        <div class="cell" [class.same]="getExpected(level) === getCeil(level)">{{getCeil(level)}}</div>
        <div class="cell" [class.same]="getExpected(level) === getRound(level)">{{getRound(level)}}</div>
        <div class="cell" [class.same]="getExpected(level) === getFloor(level)">{{getFloor(level)}}</div>
    </div>
</div>

<div class="table">
    <div class="col">
        <div class="cell">Level</div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell name {{rarity}}">RARITY {{rarity}}</div>
            <div class="cell name {{rarity}}" *ngFor="let stat of getStats()">{{stat}}</div>
        </ng-container>
        <div class="cell"></div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell name {{rarity}}">RARITY {{rarity}}</div>
            <div class="cell name {{rarity}}" *ngFor="let stat of getStats()">{{stat}}</div>
        </ng-container>
    </div>
    <div class="col">
        <div class="cell">0 (base)</div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <div class="cell" *ngFor="let stat of getStats()">{{getBaseValue(stat)}}</div>
        </ng-container>
        <div class="cell"></div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <div class="cell" *ngFor="let stat of getStats()">{{getBaseValue(stat)}}</div>
        </ng-container>
    </div>
    <div class="col" *ngFor="let level of getLevels()">
        <div class="cell">{{level}}</div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <ng-container *ngFor="let stat of getStats()">
                <div class="cell" [class.hide]="hide(level, stat, rarity)"> 
                    <ng-container *ngIf="hasData(level, stat, rarity)">
                        <span [class.same]="getMinMax(level, stat, rarity).min === getComputedMinMax(level, stat, rarity).min">{{getMinMax(level, stat, rarity).min}}</span> - 
                        <span [class.same]="getMinMax(level, stat, rarity).max === getComputedMinMax(level, stat, rarity).max">{{getMinMax(level, stat, rarity).max}}</span>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <div class="cell"></div>
        <ng-container *ngFor="let rarity of RARITIES">
            <div class="cell"></div>
            <ng-container *ngFor="let stat of getStats()">
                <div class="cell" [class.hide]="hide(level, stat, rarity)">
                    <ng-container *ngIf="hasData(level, stat, rarity)">
                        <span [class.same]="getMinMax(level, stat, rarity).min === getComputedMinMax(level, stat, rarity).min">{{getComputedMinMax(level, stat, rarity).min}}</span> - 
                        <span [class.same]="getMinMax(level, stat, rarity).max === getComputedMinMax(level, stat, rarity).max">{{getComputedMinMax(level, stat, rarity).max}}</span>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>