<div class="ancestral-legacy {{ancestralLegacy.damageTypes.length > 0 ? ancestralLegacy.damageTypes[0] : ''}}" *ngIf="ancestralLegacy !== null">
    <div class="head">{{ancestralLegacy.name}}</div>
    <div class="content">
        <div class="info">
            <div class="visual">
                <div class="icon">
                    <div class="icon-border"></div>
                    <img [src]="ancestralLegacy.icon" />
                </div>
            </div>
            <div class="data">
                <div class="type" [innerHTML]="ancestralLegacy.typeLabel"></div>
                <div class="genre" *ngIf="ancestralLegacy.genresLabel !== null" [innerHTML]="ancestralLegacy.genresLabel"></div>
                <div class="cooldown" *ngIf="ancestralLegacy.cooldownLabel !== null" [innerHTML]="ancestralLegacy.cooldownLabel"></div>
                <div class="rank" [innerHTML]="ancestralLegacy.rankLabel"></div>
                <div class="cost" *ngIf="ancestralLegacy.costLabel !== null" [innerHTML]="ancestralLegacy.costLabel"></div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="description" [innerHTML]="ancestralLegacy.description"></div>
        <app-mechanics-view
            [mechanics]="ancestralLegacy.relatedMechanics"
            [buffs]="ancestralLegacy.relatedBuffs">
        </app-mechanics-view>
    </div>
</div>