
<div class="stat-info">
    <div class="label">Legendary effect :</div>
    <div class="add" *ngIf="form !== null && legendaryEffect === null">
        <button mat-icon-button type="button" color="primary" (click)="addLegendaryEffect()"><mat-icon>add</mat-icon></button>
    </div>
</div>
<div class="stat-line" [formGroup]="form"  *ngIf="form !== null && legendaryEffect !== null">
    <div class="select">
        <app-search-select [placeholder]="legendaryEffect.name"
            [control]="form.controls.id"
            [options]="options"
            [validationOptions]="validationOptions"
            notFoundMessage="This legendary effect is not possible for this rarity">
        </app-search-select>
    </div>
    <div class="slider">
        <mat-slider *ngIf="hasLegendaryValues()"
            color="primary"
            [min]="75"
            [max]="100"
            [step]="1"
            formControlName="value"
            (input)="updateSliderValue($event)">
        </mat-slider>
    </div>
    <div class="additional">
        <div class="value">
            {{displayedValue}}
        </div>
        
        <button mat-icon-button color="primary" type="button" (click)="removeLegendaryEffect()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>